<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
  </dict>
</plist>
