<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Chedescender-cy</key>
		<string>C_hedescender-cy.glif</string>
		<key>Endescender</key>
		<string>E_ndescender.glif</string>
		<key>Esdescendercyr</key>
		<string>E_sdescendercyr.glif</string>
		<key>hard.bgr</key>
		<string>hard.bgr.glif</string>
		<key>hastroke-cy</key>
		<string>hastroke-cy.glif</string>
		<key>lje</key>
		<string>lje.glif</string>
		<key>yu.bgr</key>
		<string>yu.bgr.glif</string>
		<key>zhedescender</key>
		<string>zhedescender.glif</string>
	</dict>
</plist>
