<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.1685,0.305,0.0733,0.7</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
    </dict>
  </dict>
</plist>
