<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<string>0.256,0.496,0.053,0.7</string>
	<key>lib</key>
	<dict>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.6.1
1648405144.0 Z_hedescender.glif
1648404974.0 zhe.glif
1648405144.0 zhedescender.glif</string>
	</dict>
</dict>
</plist>