<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>IJacute</key>
    <string>I_J_acute.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Yeru</key>
    <string>Y_eru.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.rvrn</key>
    <string>cent.rvrn.glif</string>
    <key>coloncurrency</key>
    <string>coloncurrency.glif</string>
    <key>coloncurrency.rvrn</key>
    <string>coloncurrency.rvrn.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.rvrn</key>
    <string>dollar.rvrn.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.prop</key>
    <string>eight.prop.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.prop</key>
    <string>five.prop.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.prop</key>
    <string>four.prop.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hryvnia.rvrn</key>
    <string>hryvnia.rvrn.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>naira.rvrn</key>
    <string>naira.rvrn.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.prop</key>
    <string>nine.prop.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.prop</key>
    <string>one.prop.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.prop</key>
    <string>seven.prop.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.prop</key>
    <string>six.prop.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.prop</key>
    <string>three.prop.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.prop</key>
    <string>two.prop.glif</string>
    <key>uni20AD</key>
    <string>uni20A_D_.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
    <key>uni20B1.rvrn</key>
    <string>uni20B_1.rvrn.glif</string>
    <key>uni20B2</key>
    <string>uni20B_2.glif</string>
    <key>uni20B2.rvrn</key>
    <string>uni20B_2.rvrn.glif</string>
    <key>uni20B5</key>
    <string>uni20B_5.glif</string>
    <key>uni20B5.rvrn</key>
    <string>uni20B_5.rvrn.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>won.rvrn</key>
    <string>won.rvrn.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yeru</key>
    <string>yeru.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.prop</key>
    <string>zero.prop.glif</string>
  </dict>
</plist>
