<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>Iota</key>
    <string>I_ota.glif</string>
    <key>Omicron</key>
    <string>O_micron.glif</string>
    <key>Upsilondieresis</key>
    <string>U_psilondieresis.glif</string>
    <key>Yi</key>
    <string>Y_i.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>icyr</key>
    <string>icyr.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>omicron</key>
    <string>omicron.glif</string>
    <key>omicrontonos</key>
    <string>omicrontonos.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>tonoscomb</key>
    <string>tonoscomb.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
  </dict>
</plist>
