<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
