<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yeru</key>
    <string>Y_eru.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>abreveacute</key>
    <string>abreveacute.glif</string>
    <key>abrevecyr</key>
    <string>abrevecyr.glif</string>
    <key>abrevedotbelow</key>
    <string>abrevedotbelow.glif</string>
    <key>abrevegrave</key>
    <string>abrevegrave.glif</string>
    <key>abrevehookabove</key>
    <string>abrevehookabove.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acircumflexacute</key>
    <string>acircumflexacute.glif</string>
    <key>acircumflexdotbelow</key>
    <string>acircumflexdotbelow.glif</string>
    <key>acircumflexgrave</key>
    <string>acircumflexgrave.glif</string>
    <key>acircumflexhookabove</key>
    <string>acircumflexhookabove.glif</string>
    <key>acircumflextilde</key>
    <string>acircumflextilde.glif</string>
    <key>acyr</key>
    <string>acyr.glif</string>
    <key>adblgrave</key>
    <string>adblgrave.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adieresiscyr</key>
    <string>adieresiscyr.glif</string>
    <key>adotbelow</key>
    <string>adotbelow.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>aeacute</key>
    <string>aeacute.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ahookabove</key>
    <string>ahookabove.glif</string>
    <key>ainvertedbreve</key>
    <string>ainvertedbreve.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>alphatonos</key>
    <string>alphatonos.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>amacroncyr</key>
    <string>amacroncyr.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>aringacute</key>
    <string>aringacute.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>de.bgr</key>
    <string>de.bgr.glif</string>
    <key>de.locl</key>
    <string>de.locl.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dje</key>
    <string>dje.glif</string>
    <key>dzcaron</key>
    <string>dzcaron.glif</string>
    <key>dze</key>
    <string>dze.glif</string>
    <key>dzhe</key>
    <string>dzhe.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>ebrevecyr</key>
    <string>ebrevecyr.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>ecircumflexdotbelow</key>
    <string>ecircumflexdotbelow.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>edblgrave</key>
    <string>edblgrave.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>edotbelow</key>
    <string>edotbelow.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>ehookabove</key>
    <string>ehookabove.glif</string>
    <key>einvertedbreve</key>
    <string>einvertedbreve.glif</string>
    <key>el</key>
    <string>el.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>em</key>
    <string>em.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emacroncyr</key>
    <string>emacroncyr.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>en.bgr</key>
    <string>en.bgr.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>epsilontonos</key>
    <string>epsilontonos.glif</string>
    <key>er</key>
    <string>er.glif</string>
    <key>es</key>
    <string>es.glif</string>
    <key>esdescendercyr</key>
    <string>esdescendercyr.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>etatonos</key>
    <string>etatonos.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>etilde</key>
    <string>etilde.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_ij</key>
    <string>f_f_ij.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_ij</key>
    <string>f_ij.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcaron</key>
    <string>gcaron.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghe</key>
    <string>ghe.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>ghe.locl</key>
    <string>ghe.locl.glif</string>
    <key>ghestroke</key>
    <string>ghestroke.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>gje</key>
    <string>gje.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>ha</key>
    <string>ha.glif</string>
    <key>hadescender</key>
    <string>hadescender.glif</string>
    <key>hard</key>
    <string>hard.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>hastroke-cy</key>
    <string>hastroke-cy.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.bgr</key>
    <string>i.bgr.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>icyr</key>
    <string>icyr.glif</string>
    <key>idblgrave</key>
    <string>idblgrave.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ie</key>
    <string>ie.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>iemacroncyr</key>
    <string>iemacroncyr.glif</string>
    <key>ieukran</key>
    <string>ieukran.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>igrave.bgr</key>
    <string>igrave.bgr.glif</string>
    <key>igravecyr</key>
    <string>igravecyr.glif</string>
    <key>ihookabove</key>
    <string>ihookabove.glif</string>
    <key>iinvertedbreve</key>
    <string>iinvertedbreve.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>io</key>
    <string>io.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>iotadieresis</key>
    <string>iotadieresis.glif</string>
    <key>iotadieresistonos</key>
    <string>iotadieresistonos.glif</string>
    <key>iotatonos</key>
    <string>iotatonos.glif</string>
    <key>ishort</key>
    <string>ishort.glif</string>
    <key>ishort.bgr</key>
    <string>ishort.bgr.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>iukran</key>
    <string>iukran.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jacute.loclNLD</key>
    <string>jacute.loclN_L_D_.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>je</key>
    <string>je.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>ka.bgr</key>
    <string>ka.bgr.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>kaisymbol</key>
    <string>kaisymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>kje</key>
    <string>kje.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>lj</key>
    <string>lj.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>nj</key>
    <string>nj.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>obarcyr</key>
    <string>obarcyr.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>obrevecyr</key>
    <string>obrevecyr.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>ocircumflexdotbelow</key>
    <string>ocircumflexdotbelow.glif</string>
    <key>ocircumflexgrave</key>
    <string>ocircumflexgrave.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>ocyr</key>
    <string>ocyr.glif</string>
    <key>odblgrave</key>
    <string>odblgrave.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odieresiscyr</key>
    <string>odieresiscyr.glif</string>
    <key>odieresismacron</key>
    <string>odieresismacron.glif</string>
    <key>odotaccentmacron</key>
    <string>odotaccentmacron.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohookabove</key>
    <string>ohookabove.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohornacute</key>
    <string>ohornacute.glif</string>
    <key>ohorndotbelow</key>
    <string>ohorndotbelow.glif</string>
    <key>ohorngrave</key>
    <string>ohorngrave.glif</string>
    <key>ohornhookabove</key>
    <string>ohornhookabove.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>oinvertedbreve</key>
    <string>oinvertedbreve.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>omacroncyr</key>
    <string>omacroncyr.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>omegatonos</key>
    <string>omegatonos.glif</string>
    <key>omicron</key>
    <string>omicron.glif</string>
    <key>omicrontonos</key>
    <string>omicrontonos.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>otildemacron</key>
    <string>otildemacron.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>palochka</key>
    <string>palochka.glif</string>
    <key>pe</key>
    <string>pe.glif</string>
    <key>pe.bgr</key>
    <string>pe.bgr.glif</string>
    <key>pe.locl</key>
    <string>pe.locl.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>rdblgrave</key>
    <string>rdblgrave.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>rinvertedbreve</key>
    <string>rinvertedbreve.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>schwacyr</key>
    <string>schwacyr.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>shcha</key>
    <string>shcha.glif</string>
    <key>shcha.bgr</key>
    <string>shcha.bgr.glif</string>
    <key>shha</key>
    <string>shha.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>te</key>
    <string>te.glif</string>
    <key>te.bgr</key>
    <string>te.bgr.glif</string>
    <key>te.locl</key>
    <string>te.locl.glif</string>
    <key>tedescender-cy</key>
    <string>tedescender-cy.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>tse</key>
    <string>tse.glif</string>
    <key>tse.bgr</key>
    <string>tse.bgr.glif</string>
    <key>tshe</key>
    <string>tshe.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>ucyr</key>
    <string>ucyr.glif</string>
    <key>udblgrave</key>
    <string>udblgrave.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udieresiscyr</key>
    <string>udieresiscyr.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhookabove</key>
    <string>uhookabove.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhornacute</key>
    <string>uhornacute.glif</string>
    <key>uhorndotbelow</key>
    <string>uhorndotbelow.glif</string>
    <key>uhorngrave</key>
    <string>uhorngrave.glif</string>
    <key>uhornhookabove</key>
    <string>uhornhookabove.glif</string>
    <key>uhorntilde</key>
    <string>uhorntilde.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>uhungarumlautcyr</key>
    <string>uhungarumlautcyr.glif</string>
    <key>uinvertedbreve</key>
    <string>uinvertedbreve.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>umacroncyr</key>
    <string>umacroncyr.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>upsilondieresis</key>
    <string>upsilondieresis.glif</string>
    <key>upsilondieresistonos</key>
    <string>upsilondieresistonos.glif</string>
    <key>upsilontonos</key>
    <string>upsilontonos.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>ushort</key>
    <string>ushort.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>ustraightstroke</key>
    <string>ustraightstroke.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>ve</key>
    <string>ve.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>yamacron</key>
    <string>yamacron.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif</string>
    <key>yeru</key>
    <string>yeru.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>yhookabove</key>
    <string>yhookabove.glif</string>
    <key>yi</key>
    <string>yi.glif</string>
    <key>ymacron</key>
    <string>ymacron.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>yumacron</key>
    <string>yumacron.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zedescendercyr</key>
    <string>zedescendercyr.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhebrevecyr</key>
    <string>zhebrevecyr.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
    <key>zhedieresiscyr</key>
    <string>zhedieresiscyr.glif</string>
  </dict>
</plist>
