booleanOperations==0.9.0
compreffor==0.4.6
cu2qu==1.6.7
defcon==0.6.0
git+https://github.com/LettError/designSpaceDocument.git#egg=DesignSpaceDocument
fontmake
fontMath==0.5.2
fonttools
fs==2.4.4
git+https://github.com/LettError/glyphNameFormatter.git#egg=GlyphNameFormatter
glyphsLib==5.1.7
MutatorMath==2.1.2
pyclipper==1.1.0.post1
ufo2ft==2.13.0
ufoLib==2.1.1
git+https://github.com/daltonmaag/vttLib.git
statmake
gftools