<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>ustraightstroke</key>
    <string>ustraightstroke.glif</string>
    <key>yi</key>
    <string>yi.glif</string>
  </dict>
</plist>
