<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Be</key>
    <string>B_e.glif</string>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kadescender</key>
    <string>K_adescender.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Tshe</key>
    <string>T_she.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>periodcentered.loclCAT.case</key>
    <string>periodcentered.loclC_A_T_.case.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>section</key>
    <string>section.glif</string>
  </dict>
</plist>
