<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Che</key>
		<string>C_he.glif</string>
		<key>Chedescender-cy</key>
		<string>C_hedescender-cy.glif</string>
		<key>Cheverticalstroke-cy</key>
		<string>C_heverticalstroke-cy.glif</string>
		<key>De</key>
		<string>D_e.glif</string>
		<key>Dje</key>
		<string>D_je.glif</string>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>Ka</key>
		<string>K_a.glif</string>
		<key>Kabashkircyr</key>
		<string>K_abashkircyr.glif</string>
		<key>Kadescender</key>
		<string>K_adescender.glif</string>
		<key>Kaverticalstrokecyr</key>
		<string>K_averticalstrokecyr.glif</string>
		<key>Tshe</key>
		<string>T_she.glif</string>
		<key>Ze</key>
		<string>Z_e.glif</string>
		<key>Zhe</key>
		<string>Z_he.glif</string>
		<key>Zhe.bgr</key>
		<string>Z_he.bgr.glif</string>
		<key>Zhedescender</key>
		<string>Z_hedescender.glif</string>
		<key>be</key>
		<string>be.glif</string>
		<key>be.locl</key>
		<string>be.locl.glif</string>
		<key>breve.cyr</key>
		<string>breve.cyr.glif</string>
		<key>breve.cyr.case</key>
		<string>breve.cyr.case.glif</string>
		<key>che</key>
		<string>che.glif</string>
		<key>chedescender-cy</key>
		<string>chedescender-cy.glif</string>
		<key>cheverticalstroke-cy</key>
		<string>cheverticalstroke-cy.glif</string>
		<key>de</key>
		<string>de.glif</string>
		<key>dzhe</key>
		<string>dzhe.glif</string>
		<key>el</key>
		<string>el.glif</string>
		<key>em</key>
		<string>em.glif</string>
		<key>en</key>
		<string>en.glif</string>
		<key>endescender</key>
		<string>endescender.glif</string>
		<key>ghe</key>
		<string>ghe.glif</string>
		<key>gheup</key>
		<string>gheup.glif</string>
		<key>hard</key>
		<string>hard.glif</string>
		<key>hard.bgr</key>
		<string>hard.bgr.glif</string>
		<key>hryvnia</key>
		<string>hryvnia.glif</string>
		<key>icyr</key>
		<string>icyr.glif</string>
		<key>ka</key>
		<string>ka.glif</string>
		<key>kabashkircyr</key>
		<string>kabashkircyr.glif</string>
		<key>kadescender</key>
		<string>kadescender.glif</string>
		<key>kaverticalstrokecyr</key>
		<string>kaverticalstrokecyr.glif</string>
		<key>lje</key>
		<string>lje.glif</string>
		<key>nje</key>
		<string>nje.glif</string>
		<key>pe</key>
		<string>pe.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>sha</key>
		<string>sha.glif</string>
		<key>shcha</key>
		<string>shcha.glif</string>
		<key>soft</key>
		<string>soft.glif</string>
		<key>soft.bgr</key>
		<string>soft.bgr.glif</string>
		<key>te</key>
		<string>te.glif</string>
		<key>tedescender-cy</key>
		<string>tedescender-cy.glif</string>
		<key>tse</key>
		<string>tse.glif</string>
		<key>ve</key>
		<string>ve.glif</string>
		<key>ya</key>
		<string>ya.glif</string>
		<key>yu</key>
		<string>yu.glif</string>
		<key>yu.bgr</key>
		<string>yu.bgr.glif</string>
		<key>zhe</key>
		<string>zhe.glif</string>
		<key>zhedescender</key>
		<string>zhedescender.glif</string>
	</dict>
</plist>
