<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<string>0.5,1,0,0.7</string>
	<key>lib</key>
	<dict>
		<key>org.unifiedfontobject.normalizer.imageReferences</key>
		<dict/>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.6.1
1646835547.0 K_abashkircyr.glif
1646835547.0 K_adescender.glif
1646835547.0 K_averticalstrokecyr.glif
1646835547.0 Z_he.glif
1646835547.0 Z_hedescender.glif
1645483839.0 be.locl.glif
1645482733.0 breve.cyr.case.glif
1645482733.0 breve.cyr.glif
1645483311.0 che.glif
1645482846.0 dje.glif
1646835547.0 kabashkircyr.glif
1646835547.0 kadescender.glif
1646835547.0 kaverticalstrokecyr.glif
1645482902.0 sha.glif
1648415976.0 zhe.glif
1648415976.0 zhedescender.glif</string>
	</dict>
</dict>
</plist>