<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AEacute</key>
    <string>A_E_acute.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Abreveacute</key>
    <string>A_breveacute.glif</string>
    <key>Abrevecyr</key>
    <string>A_brevecyr.glif</string>
    <key>Abrevedotbelow</key>
    <string>A_brevedotbelow.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Abrevetilde</key>
    <string>A_brevetilde.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>Acircumflexdotbelow</key>
    <string>A_circumflexdotbelow.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>Acyr</key>
    <string>A_cyr.glif</string>
    <key>Adblgrave</key>
    <string>A_dblgrave.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adieresiscyr</key>
    <string>A_dieresiscyr.glif</string>
    <key>Adotbelow</key>
    <string>A_dotbelow.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Ahookabove</key>
    <string>A_hookabove.glif</string>
    <key>Ainvertedbreve</key>
    <string>A_invertedbreve.glif</string>
    <key>Alpha</key>
    <string>A_lpha.glif</string>
    <key>Alphatonos</key>
    <string>A_lphatonos.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Amacroncyr</key>
    <string>A_macroncyr.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Be</key>
    <string>B_e.glif</string>
    <key>Beta</key>
    <string>B_eta.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>Chi</key>
    <string>C_hi.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>DZcaron</key>
    <string>D_Z_caron.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>De.bgr</key>
    <string>D_e.bgr.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Dze</key>
    <string>D_ze.glif</string>
    <key>Dzhe</key>
    <string>D_zhe.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>Ebrevecyr</key>
    <string>E_brevecyr.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Ecircumflexacute</key>
    <string>E_circumflexacute.glif</string>
    <key>Ecircumflexdotbelow</key>
    <string>E_circumflexdotbelow.glif</string>
    <key>Ecircumflexgrave</key>
    <string>E_circumflexgrave.glif</string>
    <key>Ecircumflexhookabove</key>
    <string>E_circumflexhookabove.glif</string>
    <key>Ecircumflextilde</key>
    <string>E_circumflextilde.glif</string>
    <key>Ecyr</key>
    <string>E_cyr.glif</string>
    <key>Edblgrave</key>
    <string>E_dblgrave.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Edotbelow</key>
    <string>E_dotbelow.glif</string>
    <key>Ef</key>
    <string>E_f.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Ehookabove</key>
    <string>E_hookabove.glif</string>
    <key>Einvertedbreve</key>
    <string>E_invertedbreve.glif</string>
    <key>El</key>
    <string>E_l.glif</string>
    <key>El.bgr</key>
    <string>E_l.bgr.glif</string>
    <key>Em</key>
    <string>E_m.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Emacroncyr</key>
    <string>E_macroncyr.glif</string>
    <key>En</key>
    <string>E_n.glif</string>
    <key>Endescender</key>
    <string>E_ndescender.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Epsilon</key>
    <string>E_psilon.glif</string>
    <key>Epsilontonos</key>
    <string>E_psilontonos.glif</string>
    <key>Er</key>
    <string>E_r.glif</string>
    <key>Es</key>
    <string>E_s.glif</string>
    <key>Esdescendercyr</key>
    <string>E_sdescendercyr.glif</string>
    <key>Eta</key>
    <string>E_ta.glif</string>
    <key>Etatonos</key>
    <string>E_tatonos.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Etilde</key>
    <string>E_tilde.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcaron</key>
    <string>G_caron.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Ghe</key>
    <string>G_he.glif</string>
    <key>Ghestroke</key>
    <string>G_hestroke.glif</string>
    <key>Gheup</key>
    <string>G_heup.glif</string>
    <key>Gje</key>
    <string>G_je.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ha</key>
    <string>H_a.glif</string>
    <key>Hadescender</key>
    <string>H_adescender.glif</string>
    <key>Hard</key>
    <string>H_ard.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>IJacute</key>
    <string>I_J_acute.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>Idblgrave</key>
    <string>I_dblgrave.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Idotbelow</key>
    <string>I_dotbelow.glif</string>
    <key>Ie</key>
    <string>I_e.glif</string>
    <key>Iebrevecyr</key>
    <string>I_ebrevecyr.glif</string>
    <key>Iemacroncyr</key>
    <string>I_emacroncyr.glif</string>
    <key>Ieukran</key>
    <string>I_eukran.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Igravecyr</key>
    <string>I_gravecyr.glif</string>
    <key>Ihookabove</key>
    <string>I_hookabove.glif</string>
    <key>Iinvertedbreve</key>
    <string>I_invertedbreve.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Io</key>
    <string>I_o.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Iota</key>
    <string>I_ota.glif</string>
    <key>Iotadieresis</key>
    <string>I_otadieresis.glif</string>
    <key>Iotatonos</key>
    <string>I_otatonos.glif</string>
    <key>Ishort</key>
    <string>I_short.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>Iukran</key>
    <string>I_ukran.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Jacute.loclNLD</key>
    <string>J_acute.loclN_L_D_.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>Je</key>
    <string>J_e.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Ka.bgr</key>
    <string>K_a.bgr.glif</string>
    <key>Kabashkircyr</key>
    <string>K_abashkircyr.glif</string>
    <key>Kadescender</key>
    <string>K_adescender.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>Kappa</key>
    <string>K_appa.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>Kje</key>
    <string>K_je.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>LJ</key>
    <string>L_J_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lj</key>
    <string>L_j.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Mu</key>
    <string>M_u.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>NJ</key>
    <string>N_J_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Nj</key>
    <string>N_j.glif</string>
    <key>Nje</key>
    <string>N_je.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Nu</key>
    <string>N_u.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Obarcyr</key>
    <string>O_barcyr.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>Obrevecyr</key>
    <string>O_brevecyr.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Ocircumflexdotbelow</key>
    <string>O_circumflexdotbelow.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>Ocyr</key>
    <string>O_cyr.glif</string>
    <key>Odblgrave</key>
    <string>O_dblgrave.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odieresiscyr</key>
    <string>O_dieresiscyr.glif</string>
    <key>Odieresismacron</key>
    <string>O_dieresismacron.glif</string>
    <key>Odotaccentmacron</key>
    <string>O_dotaccentmacron.glif</string>
    <key>Odotbelow</key>
    <string>O_dotbelow.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohookabove</key>
    <string>O_hookabove.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Ohornacute</key>
    <string>O_hornacute.glif</string>
    <key>Ohorndotbelow</key>
    <string>O_horndotbelow.glif</string>
    <key>Ohorngrave</key>
    <string>O_horngrave.glif</string>
    <key>Ohornhookabove</key>
    <string>O_hornhookabove.glif</string>
    <key>Ohorntilde</key>
    <string>O_horntilde.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Oinvertedbreve</key>
    <string>O_invertedbreve.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Omacroncyr</key>
    <string>O_macroncyr.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omegatonos</key>
    <string>O_megatonos.glif</string>
    <key>Omicron</key>
    <string>O_micron.glif</string>
    <key>Omicrontonos</key>
    <string>O_microntonos.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Otildemacron</key>
    <string>O_tildemacron.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Palochka</key>
    <string>P_alochka.glif</string>
    <key>Pe</key>
    <string>P_e.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>Rdblgrave</key>
    <string>R_dblgrave.glif</string>
    <key>Rho</key>
    <string>R_ho.glif</string>
    <key>Rinvertedbreve</key>
    <string>R_invertedbreve.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Schwacyr</key>
    <string>S_chwacyr.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Shcha</key>
    <string>S_hcha.glif</string>
    <key>Shha</key>
    <string>S_hha.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tau</key>
    <string>T_au.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Te</key>
    <string>T_e.glif</string>
    <key>Tedescender-cy</key>
    <string>T_edescender-cy.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tse</key>
    <string>T_se.glif</string>
    <key>Tshe</key>
    <string>T_she.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Udblgrave</key>
    <string>U_dblgrave.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udieresiscyr</key>
    <string>U_dieresiscyr.glif</string>
    <key>Udotbelow</key>
    <string>U_dotbelow.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhookabove</key>
    <string>U_hookabove.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif</string>
    <key>Uhorndotbelow</key>
    <string>U_horndotbelow.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>Uhornhookabove</key>
    <string>U_hornhookabove.glif</string>
    <key>Uhorntilde</key>
    <string>U_horntilde.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Uhungarumlautcyr</key>
    <string>U_hungarumlautcyr.glif</string>
    <key>Uinvertedbreve</key>
    <string>U_invertedbreve.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Umacroncyr</key>
    <string>U_macroncyr.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Upsilon</key>
    <string>U_psilon.glif</string>
    <key>Upsilondieresis</key>
    <string>U_psilondieresis.glif</string>
    <key>Upsilontonos</key>
    <string>U_psilontonos.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Ushort</key>
    <string>U_short.glif</string>
    <key>Ustraight</key>
    <string>U_straight.glif</string>
    <key>Ustraightstroke</key>
    <string>U_straightstroke.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Ve</key>
    <string>V_e.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Yamacron</key>
    <string>Y_amacron.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ydotbelow</key>
    <string>Y_dotbelow.glif</string>
    <key>Yeru</key>
    <string>Y_eru.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Yhookabove</key>
    <string>Y_hookabove.glif</string>
    <key>Yi</key>
    <string>Y_i.glif</string>
    <key>Ymacron</key>
    <string>Y_macron.glif</string>
    <key>Ytilde</key>
    <string>Y_tilde.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>Yumacron</key>
    <string>Y_umacron.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zedescendercyr</key>
    <string>Z_edescendercyr.glif</string>
    <key>Zeta</key>
    <string>Z_eta.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>Zhebrevecyr</key>
    <string>Z_hebrevecyr.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>Zhedieresiscyr</key>
    <string>Z_hedieresiscyr.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ohm</key>
    <string>ohm.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>space</key>
    <string>space.glif</string>
  </dict>
</plist>
