<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A_UC</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>Adblgrave</string>
      <string>Ainvertedbreve</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Acircumflexdotbelow</string>
      <string>Abreveacute</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Abrevedotbelow</string>
    </array>
    <key>public.kern1.C_UC</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.D_UC</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Otilde</string>
      <string>Schwa</string>
      <string>Odblgrave</string>
      <string>Oinvertedbreve</string>
      <string>Odieresismacron</string>
      <string>Otildemacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ohookabove</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Ocircumflexdotbelow</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
    </array>
    <key>public.kern1.E_UC</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Edblgrave</string>
      <string>Einvertedbreve</string>
      <string>Edotbelow</string>
      <string>Ehookabove</string>
      <string>Etilde</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Ecircumflexdotbelow</string>
      <string>OE</string>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern1.G_UC</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.JU_UC</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Udotbelow</string>
      <string>Uhookabove</string>
      <string>Udblgrave</string>
      <string>Uinvertedbreve</string>
      <string>IJ</string>
      <string>LJ</string>
      <string>NJ</string>
      <string>IJacute</string>
    </array>
    <key>public.kern1.K_UC</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L_UC</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
    </array>
    <key>public.kern1.LeftStraight_UC</key>
    <array>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Idblgrave</string>
      <string>Iinvertedbreve</string>
      <string>Ihookabove</string>
      <string>Idotbelow</string>
    </array>
    <key>public.kern1.Ohorn_LC</key>
    <array>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
    </array>
    <key>public.kern1.R_UC</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rinvertedbreve</string>
    </array>
    <key>public.kern1.S_UC</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern1.T_UC</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern1.Uhorn_UC</key>
    <array>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
    </array>
    <key>public.kern1.W_UC</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.Y_UC</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ydotbelow</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
      <string>Ymacron</string>
    </array>
    <key>public.kern1.Z_UC</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>DZcaron</string>
    </array>
    <key>public.kern1.a_LC</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>adblgrave</string>
      <string>ainvertedbreve</string>
      <string>adotbelow</string>
      <string>ahookabove</string>
      <string>acircumflexacute</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>acircumflexdotbelow</string>
      <string>abreveacute</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>abrevedotbelow</string>
    </array>
    <key>public.kern1.b_LC</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.c_LC</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.carons</key>
    <array>
      <string>lcaron</string>
      <string>dcaron</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.copyright</key>
    <array>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern1.e_LC</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>edotbelow</string>
      <string>ehookabove</string>
      <string>etilde</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>ecircumflexdotbelow</string>
      <string>edblgrave</string>
      <string>einvertedbreve</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>oe</string>
    </array>
    <key>public.kern1.emdash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>horizontalbar</string>
      <string>hyphen</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern1.f_LC</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.gamma</key>
    <array>
      <string>ymacron</string>
      <string>ydotbelow</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.hmn_LC</key>
    <array>
      <string>h</string>
      <string>hcircumflex</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>hbar</string>
    </array>
    <key>public.kern1.i_LC</key>
    <array>
      <string>i</string>
      <string>idotbelow</string>
      <string>f_f_i</string>
      <string>fi</string>
      <string>idotaccent</string>
      <string>iogonek</string>
    </array>
    <key>public.kern1.j_LC</key>
    <array>
      <string>f_f_ij</string>
      <string>f_ij</string>
      <string>j</string>
      <string>ij</string>
      <string>lj</string>
      <string>nj</string>
      <string>Lj</string>
      <string>Nj</string>
      <string>ijacute</string>
      <string>jdotless</string>
    </array>
    <key>public.kern1.k_LC</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
    </array>
    <key>public.kern1.l_LC</key>
    <array>
      <string>f_f_l</string>
      <string>fl</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
    </array>
    <key>public.kern1.minute</key>
    <array>
      <string>minute</string>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>second</string>
      <string>apostrophemod</string>
    </array>
    <key>public.kern1.o_LC</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>otilde</string>
      <string>odblgrave</string>
      <string>oinvertedbreve</string>
      <string>odieresismacron</string>
      <string>otildemacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ohookabove</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>ocircumflexdotbelow</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>schwa</string>
    </array>
    <key>public.kern1.ohorn_LC</key>
    <array>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
    </array>
    <key>public.kern1.parens</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>leftanglebracket</string>
      <string>parenleft</string>
    </array>
    <key>public.kern1.percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern1.r_LC</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rinvertedbreve</string>
    </array>
    <key>public.kern1.s_LC</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern1.t_LC</key>
    <array>
      <string>t</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern1.u_LC</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>idotless</string>
    </array>
    <key>public.kern1.uhorn_LC</key>
    <array>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
    </array>
    <key>public.kern1.w_LC</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.z_LC</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>Dzcaron</string>
      <string>dzcaron</string>
    </array>
    <key>public.kern2.AE_UC</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.A_UC</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>Adblgrave</string>
      <string>Ainvertedbreve</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Acircumflexdotbelow</string>
      <string>Abreveacute</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Abrevedotbelow</string>
    </array>
    <key>public.kern2.CG_UC</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>O</string>
      <string>OE</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohorn</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>Cdotaccent</string>
      <string>Gdotaccent</string>
      <string>Odblgrave</string>
      <string>Oinvertedbreve</string>
      <string>Odieresismacron</string>
      <string>Otildemacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ohookabove</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ohornacute</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohorndotbelow</string>
      <string>Gcaron</string>
    </array>
    <key>public.kern2.J_UC</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.S_UC</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern2.StraightRight_UC</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Ihookabove</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rinvertedbreve</string>
      <string>Thorn</string>
      <string>IJ</string>
      <string>Ldot</string>
      <string>Eng</string>
      <string>LJ</string>
      <string>NJ</string>
      <string>DZcaron</string>
      <string>Dzcaron</string>
      <string>Lj</string>
      <string>Nj</string>
      <string>IJacute</string>
    </array>
    <key>public.kern2.T_UC</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern2.U_UC</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Udotbelow</string>
      <string>Uhookabove</string>
      <string>Udblgrave</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uinvertedbreve</string>
    </array>
    <key>public.kern2.W_UC</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.Y_UC</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ydotbelow</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
      <string>Ymacron</string>
    </array>
    <key>public.kern2.Z_UC</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.a_LC</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>adblgrave</string>
      <string>ainvertedbreve</string>
      <string>adotbelow</string>
      <string>ahookabove</string>
      <string>acircumflexacute</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>acircumflexdotbelow</string>
      <string>abreveacute</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>abrevedotbelow</string>
      <string>ae</string>
      <string>aeacute</string>
    </array>
    <key>public.kern2.alpha</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>d</string>
      <string>dcaron</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>oe</string>
      <string>ohorn</string>
      <string>q</string>
      <string>cdotaccent</string>
      <string>gdotaccent</string>
      <string>dzcaron</string>
      <string>edblgrave</string>
      <string>einvertedbreve</string>
      <string>edotbelow</string>
      <string>ehookabove</string>
      <string>etilde</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>ecircumflexdotbelow</string>
      <string>ohornacute</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorndotbelow</string>
    </array>
    <key>public.kern2.bhk_LC</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>hcircumflex</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lj</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.copyright</key>
    <array>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern2.emdash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>horizontalbar</string>
    </array>
    <key>public.kern2.f_LC</key>
    <array>
      <string>f</string>
      <string>f_f_ij</string>
      <string>f_ij</string>
      <string>f_f</string>
      <string>fi</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>fl</string>
    </array>
    <key>public.kern2.gamma</key>
    <array>
      <string>ymacron</string>
      <string>ydotbelow</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.i_LC</key>
    <array>
      <string>idotaccent</string>
      <string>ijacute</string>
      <string>ij</string>
      <string>i</string>
      <string>iogonek</string>
    </array>
    <key>public.kern2.minute</key>
    <array>
      <string>minute</string>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>second</string>
      <string>apostrophemod</string>
    </array>
    <key>public.kern2.mnpr_LC</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>nj</string>
      <string>ntilde</string>
      <string>p</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rinvertedbreve</string>
      <string>kgreenlandic</string>
      <string>eng</string>
      <string>idotless</string>
    </array>
    <key>public.kern2.o_LC</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>otilde</string>
      <string>odblgrave</string>
      <string>oinvertedbreve</string>
      <string>odieresismacron</string>
      <string>otildemacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ohookabove</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>ocircumflexdotbelow</string>
      <string>ohorntilde</string>
      <string>oslash</string>
      <string>oslashacute</string>
    </array>
    <key>public.kern2.parens</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright</string>
      <string>rightanglebracket</string>
    </array>
    <key>public.kern2.percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern2.s_LC</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.t_LC</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern2.u_LC</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhorn</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>udblgrave</string>
      <string>uinvertedbreve</string>
      <string>udotbelow</string>
      <string>uhookabove</string>
      <string>uhornacute</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhorndotbelow</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern2.w_LC</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.z_LC</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
