

/*one @font-face for the var font */

@font-face {
    font-family: 'Roboto-Extremo';
    src:  url('../fonts/RobotoExtremo-VF.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* add classes for each named instance, using font-variation,settings */


.RobotoExtremoVF-wght400-opsz14 {
	font-family:Roboto-Extremo, 'AdobeBlank';
	font-variation-settings: "wght" 400, "opsz" 14 ;
}


.RobotoExtremoVF-wght100-opsz14 {
	font-family:Roboto-Extremo, 'AdobeBlank';
	font-variation-settings: "wght" 100, "opsz" 14 ;
}

.RobotoExtremoVF-wght900-opsz14 {
	font-family:Roboto-Extremo, 'AdobeBlank';
	font-variation-settings: "wght" 900, "opsz" 14 ;
}

.RobotoExtremoVF-wght900-wdth125-opsz144 {
	font-family:Roboto-Extremo, 'AdobeBlank';
	font-variation-settings: "wght" 900, "wdth" 125, "opsz" 144 ;
}

.RobotoExtremoVF-wght100-wdth75-opsz144 {
	font-family:Roboto-Extremo, 'AdobeBlank';
	font-variation-settings: "wght" 100, "wdth" 75, "opsz" 144 ;
}

.RobotoExtremoVF-wght900-wdth125-opsz8 {
	font-family:Roboto-Extremo, 'AdobeBlank';
	font-variation-settings: "wght" 900, "wdth" 125, "opsz" 8;
}

.RobotoExtremoVF-wght100-wdth75-opsz8 {
	font-family:Roboto-Extremo, 'AdobeBlank';
	font-variation-settings: "wght" 100, "wdth" 75, "opsz" 8 ;
}
