<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>De.bgr</key>
    <string>D_e.bgr.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Ecyr</key>
    <string>E_cyr.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>yi</key>
    <string>yi.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
