<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Chedescender-cy</key>
		<string>C_hedescender-cy.glif</string>
		<key>Dje</key>
		<string>D_je.glif</string>
		<key>Lje</key>
		<string>L_je.glif</string>
		<key>be</key>
		<string>be.glif</string>
		<key>be.locl</key>
		<string>be.locl.glif</string>
		<key>breve.cyr</key>
		<string>breve.cyr.glif</string>
		<key>breve.cyr.case</key>
		<string>breve.cyr.case.glif</string>
		<key>ghe.bgr</key>
		<string>ghe.bgr.glif</string>
		<key>lje</key>
		<string>lje.glif</string>
		<key>sha</key>
		<string>sha.glif</string>
		<key>yi</key>
		<string>yi.glif</string>
	</dict>
</plist>
