<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Che</key>
		<string>C_he.glif</string>
		<key>Chedescender-cy</key>
		<string>C_hedescender-cy.glif</string>
		<key>De</key>
		<string>D_e.glif</string>
		<key>Dje</key>
		<string>D_je.glif</string>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>Ka</key>
		<string>K_a.glif</string>
		<key>Kadescender</key>
		<string>K_adescender.glif</string>
		<key>Tshe</key>
		<string>T_she.glif</string>
		<key>Ya</key>
		<string>Y_a.glif</string>
		<key>breve.cyr.case</key>
		<string>breve.cyr.case.glif</string>
		<key>che</key>
		<string>che.glif</string>
	</dict>
</plist>
