<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Tshe</key>
    <string>T_she.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
  </dict>
</plist>
