<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>three.prop</key>
    <string>three.prop.glif</string>
    <key>two.prop</key>
    <string>two.prop.glif</string>
    <key>zero.prop</key>
    <string>zero.prop.glif</string>
  </dict>
</plist>
