<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<string>0.088,0.152,0.038,0.7</string>
	<key>lib</key>
	<dict>
		<key>com.typemytype.robofont.layerShow</key>
		<true/>
		<key>org.unifiedfontobject.normalizer.imageReferences</key>
		<dict/>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.6.1
1645547128.0 E_cyr.glif
1648415545.0 K_a.glif
1648415545.0 K_abashkircyr.glif
1648415545.0 K_adescender.glif
1648415545.0 K_averticalstrokecyr.glif
1645547415.0 T_she.glif
1645547128.0 Z_e.glif
1648415545.0 Z_he.bgr.glif
1648415545.0 Z_he.glif
1648415545.0 Z_hedescender.glif
1645311617.0 three.prop.glif
1645311617.0 two.prop.glif
1645311617.0 zero.prop.glif</string>
	</dict>
</dict>
</plist>