<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A.smcp</key>
    <array/>
    <key>public.kern1.A_UC</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>Adblgrave</string>
      <string>Ainvertedbreve</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Acircumflexdotbelow</string>
      <string>Abreveacute</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Abrevedotbelow</string>
    </array>
    <key>public.kern1.B_UC</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C_UC</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.Chi</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.D.smcp</key>
    <array/>
    <key>public.kern1.D_UC</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Otilde</string>
      <string>Schwa</string>
      <string>Odblgrave</string>
      <string>Oinvertedbreve</string>
      <string>Odieresismacron</string>
      <string>Otildemacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ohookabove</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Ocircumflexdotbelow</string>
    </array>
    <key>public.kern1.Dtopbar</key>
    <array>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Idblgrave</string>
      <string>Iinvertedbreve</string>
      <string>Ihookabove</string>
      <string>Idotbelow</string>
    </array>
    <key>public.kern1.E_UC</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Edblgrave</string>
      <string>Einvertedbreve</string>
      <string>Edotbelow</string>
      <string>Ehookabove</string>
      <string>Etilde</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Ecircumflexdotbelow</string>
    </array>
    <key>public.kern1.Gamma</key>
    <array/>
    <key>public.kern1.J_UC</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Udotbelow</string>
      <string>Uhookabove</string>
    </array>
    <key>public.kern1.K.smcp</key>
    <array/>
    <key>public.kern1.K_UC</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L.smcp</key>
    <array/>
    <key>public.kern1.L_UC</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
    </array>
    <key>public.kern1.P_UC</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.T.smcp</key>
    <array/>
    <key>public.kern1.T_UC</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern1.Upsilon</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ydotbelow</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern1.V_UC</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W_UC</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.Z_UC</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>DZcaron</string>
    </array>
    <key>public.kern1.a_LC</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>adblgrave</string>
      <string>ainvertedbreve</string>
      <string>adotbelow</string>
      <string>ahookabove</string>
      <string>acircumflexacute</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>acircumflexdotbelow</string>
      <string>abreveacute</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>abrevedotbelow</string>
    </array>
    <key>public.kern1.aemacron</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>edotbelow</string>
      <string>ehookabove</string>
      <string>etilde</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>ecircumflexdotbelow</string>
    </array>
    <key>public.kern1.b_LC</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.c_LC</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.eta</key>
    <array>
      <string>h</string>
      <string>hcircumflex</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.gamma</key>
    <array>
      <string>ymacron</string>
      <string>ydotbelow</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.minute</key>
    <array>
      <string>minute</string>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>second</string>
      <string>apostrophemod</string>
    </array>
    <key>public.kern1.o_LC</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>otilde</string>
      <string>odblgrave</string>
      <string>oinvertedbreve</string>
      <string>odieresismacron</string>
      <string>otildemacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ohookabove</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>ocircumflexdotbelow</string>
      <string>ohorntilde</string>
    </array>
    <key>public.kern1.r_LC</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rinvertedbreve</string>
    </array>
    <key>public.kern1.uni0409</key>
    <array/>
    <key>public.kern1.uni040E</key>
    <array/>
    <key>public.kern1.uni0433</key>
    <array/>
    <key>public.kern1.uni044A</key>
    <array/>
    <key>public.kern1.x_LC</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.z_LC</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>Dzcaron</string>
      <string>dzcaron</string>
    </array>
    <key>public.kern2.A.smcp</key>
    <array/>
    <key>public.kern2.A_UC</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>Adblgrave</string>
      <string>Ainvertedbreve</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Acircumflexdotbelow</string>
      <string>Abreveacute</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Abrevedotbelow</string>
    </array>
    <key>public.kern2.C.smcp</key>
    <array/>
    <key>public.kern2.C_UC</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>O</string>
      <string>OE</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohorn</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>Cdotaccent</string>
      <string>Gdotaccent</string>
      <string>Odblgrave</string>
      <string>Oinvertedbreve</string>
      <string>Odieresismacron</string>
      <string>Otildemacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ohookabove</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ohornacute</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohorndotbelow</string>
    </array>
    <key>public.kern2.Chi</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Chi.smcp</key>
    <array/>
    <key>public.kern2.J_UC</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.S.smcp</key>
    <array/>
    <key>public.kern2.S_UC</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern2.T.smcp</key>
    <array/>
    <key>public.kern2.T_UC</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern2.U.smcp</key>
    <array/>
    <key>public.kern2.U_UC</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Udotbelow</string>
      <string>Uhookabove</string>
    </array>
    <key>public.kern2.Upsilon</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ydotbelow</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern2.Upsilon.smcp</key>
    <array/>
    <key>public.kern2.V_UC</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W.smcp</key>
    <array/>
    <key>public.kern2.W_UC</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.Z_UC</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.a_LC</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>adblgrave</string>
      <string>ainvertedbreve</string>
      <string>adotbelow</string>
      <string>ahookabove</string>
      <string>acircumflexacute</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>acircumflexdotbelow</string>
      <string>abreveacute</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>abrevedotbelow</string>
    </array>
    <key>public.kern2.alpha</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>d</string>
      <string>dcaron</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>oe</string>
      <string>ohorn</string>
      <string>q</string>
      <string>cdotaccent</string>
      <string>gdotaccent</string>
      <string>dzcaron</string>
      <string>edblgrave</string>
      <string>einvertedbreve</string>
      <string>edotbelow</string>
      <string>ehookabove</string>
      <string>etilde</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>ecircumflexdotbelow</string>
      <string>ohornacute</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorndotbelow</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.emdash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>horizontalbar</string>
    </array>
    <key>public.kern2.eta</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>nj</string>
      <string>ntilde</string>
      <string>p</string>
    </array>
    <key>public.kern2.gamma</key>
    <array>
      <string>ymacron</string>
      <string>ydotbelow</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.minute</key>
    <array>
      <string>minute</string>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>second</string>
      <string>apostrophemod</string>
    </array>
    <key>public.kern2.o_LC</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>otilde</string>
      <string>odblgrave</string>
      <string>oinvertedbreve</string>
      <string>odieresismacron</string>
      <string>otildemacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ohookabove</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>ocircumflexdotbelow</string>
      <string>ohorntilde</string>
    </array>
    <key>public.kern2.s_LC</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.u_LC</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhorn</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>udblgrave</string>
      <string>uinvertedbreve</string>
      <string>udotbelow</string>
      <string>uhookabove</string>
      <string>uhornacute</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhorndotbelow</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern2.uni0409</key>
    <array/>
    <key>public.kern2.uni040E</key>
    <array/>
    <key>public.kern2.uni0427</key>
    <array/>
    <key>public.kern2.uni043B</key>
    <array/>
    <key>public.kern2.uni0447</key>
    <array/>
    <key>public.kern2.x_LC</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z_LC</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
