<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
