<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>Sha</key>
		<string>S_ha.glif</string>
		<key>Yu</key>
		<string>Y_u.glif</string>
	</dict>
</plist>
