input[type='range'] {
	$thumb: 1rem;
	$track: .1875rem;
	$line-color: #DAD9D7;
	$gnubbel-color: #3867ff;
	$gnubbel-border: .125rem solid white;

	-webkit-appearance: none;
	margin: 8px 0;
	width: 2in;

	&:focus {
//		   outline: 0;
	}
	
	&:focus::-webkit-slider-runnable-track {
		background: $line-color;
	}
	
	&:focus::-ms-fill-lower {
		background: $line-color;
	}
	
	&:focus::-ms-fill-upper {
		background: $line-color;
	}
	
	&::-webkit-slider-runnable-track {
		cursor: pointer;
		height: $track;
		transition: all 0.2s ease;
		box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
		background: $line-color;
		border: 0;
		border-radius: 0;
	}
	
	&::-webkit-slider-thumb {
		box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
		background: $gnubbel-color;
		box-sizing: border-box;
		border: $gnubbel-border;
		border-radius: $thumb;
		cursor: pointer;
		height: $thumb;
		width: $thumb;
		-webkit-appearance: none;
		margin-top: calc(-#{$thumb} / 2 + 1px);
	}
	
	&::-moz-range-track {
		cursor: pointer;
		height: $track;
		transition: all 0.2s ease;
		box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
		background: $line-color;
		border: 0;
		border-radius: 0;
	}
	
	&::-moz-range-thumb {
		box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
		background: $gnubbel-color;
		box-sizing: border-box;
		border: $gnubbel-border;
		border-radius: $thumb;
		cursor: pointer;
		height: $thumb;
		width: $thumb;
	}
	
	&::-ms-track {
		cursor: pointer;
		height: $track;
		transition: all 0.2s ease;
		background: transparent;
		border-color: transparent;
		border-width: 8px 0;
		color: transparent;
	}
	
	&::-ms-fill-lower {
		box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
		background: $line-color;
		border: 0;
		border-radius: 0;
	}
	
	&::-ms-fill-upper {
		box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
		background: $line-color;
		border: 0;
		border-radius: 0;
	}
	
	&::-ms-thumb {
		box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
		background: $gnubbel-color;
		box-sizing: border-box;
		border: $gnubbel-border;
		border-radius: $thumb;
		cursor: pointer;
		height: $thumb;
		width: $thumb;
		margin-top: 0;
	}
}