
body.dropzone::after {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(64, 64, 64, 0.9);
	color: white;
	font-size: 3rem;
	text-align: center;
	vertical-align: middle;
	padding: 40% 1rem;
	content: "Drop your own font file(s) here";
	z-index: 1000;
}

#reset {
	color: red;
}

#videoproof *:focus {
	outline: none;
}

/* CONTROLS */

#videoproof aside.content-filters {
	padding-top: 2.625rem;
}

#controls > * {
	margin: 1em 0;
}

#controls select {
	font-size: 80%;
}

#controls input {
	vertical-align: baseline;
}

#controls label {
	display: inline;
	line-height: inherit;
}

#controls h3 {
	border: none;
	margin-bottom: 0;
}

#controls h3 + * {
	margin-top: 0;
}

#controls h3.inline {
	display: inline;
}

#controls h3 label {
	font: inherit;
	color: inherit;
	line-height: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
}

#controls #add-your-own-button {
	font-size: 0.8rem;
	display: block;
	text-align: right;
}

#controls #custom-fonts {
	position: absolute;
	left: -200vw;
}


/* sliders */

#controls .slider {
	display: grid;
	grid-template-columns: auto 3.5em;
	grid-template-rows: auto auto;
	grid-gap: 0.5em 0;
	align-items: baseline;
	width: 100%;
	padding: 0;
	text-indent: 0;
	margin: 1em 0;
}

#controls label {
	text-transform: none;
	color: black;
	font-weight: bold;
	letter-spacing: 0;
}

#controls .slider label abbr {
	color: #999;
}

#controls .slider label abbr::before {
	content: "(";
}

#controls .slider label abbr::after {
	content: ")";
}

#controls .slider input[type=number] {
	border: none;
	color: #999;
	width: 100%;
	max-width: 4em;
	text-align: right;
}

#controls .slider input[type=range] {
	grid-column: 1/3;
	grid-row: 2;
	width: 100%;
/*
	width: calc(100% - 6em);
	margin: 0 3em;
*/
}


/* SLIDERS see form-controls.scss */

/*
input[type=range]::before {
	display: none;
	position: absolute;
	right: 105%;
	content: attr(min);
}

input[type=range]::after {
	display: none;
	position: absolute;
	left: 105%;
	content: attr(max);
}
*/

input[type=range][disabled] {
	opacity: 0.5;
}


/* alignment - color */

#alignment-color {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, auto);
	align-items: center;
}

#alignment-color label[for=foreground] {
}

#alignment-color label[for=background] {
}

#alignment-color .color .sp-replacer {
	margin: 0.03in 0 0;
	padding: 0;
	border: none;
}

#alignment-color .color .sp-preview {
	position: relative;
	margin: 0;
	height: 0.23in;
	width: 0.25in;
}

#alignment-color .color .sp-dd {
	display: none;
}

/* GLYPH GROUPS */
#controls label[for="show-extended-glyphs"] {
	display: block;
}


#select-glyphs label {
	font-weight: normal;
	font-size: smaller;
}

#select-glyphs ul {
	margin: 0;
}

#select-glyphs li {
	padding-left: 1em;
	text-indent: 0;
}

#layout-specific-controls {
	display: block;
	margin: 0;
	padding: 0;
}

#layout-specific-controls > li {
	margin: 0;
	padding: 0;
	text-indent: 0;
}

#layout-specific-controls > li + li {
	margin-top: 1rem;
}

/* ANIMATIION */

#animation-controls {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
	align-items: center;
}

#animation-controls > * {
	width: 100% !important;
	text-align: center;
	vertical-align: middle;
	grid-row: 2;
}

#animation-controls button {
	grid-row: 1;
	border: none;
	background: transparent;
	box-shadow: none;
	padding: 0;
}

#animation-controls button.start {
	grid-column: 1;
	justify-self: end;
}

#animation-controls button.back {
	grid-column: 2;
	justify-self: end;
}

#animation-controls button.play-pause {
	grid-column: 3;
	font-size: 200%;
}

#animation-controls button.forward {
	grid-column: 4;
	justify-self: start;
}

#animation-controls button.end {
	grid-column: 5;
	justify-self: start;
}

#animation-controls #animation-scrub {
	grid-column: 1 / 5;
}

#animation-controls label[for="animation-scrub"] {
	grid-column: 5;
	height: 1em;
}

#animation-controls label[for="animation-scrub"]::after {
	content: "%";
}

input#animation-duration {
	width: 4em;
}


output#aniparams {
	color: #09f;
	font-size: 0.75rem;
	font-family: Verdana;
	font-weight: normal;
	font-style: normal;
	font-feature-settings: normal;
	line-height: 1.2;
	padding-left: 1rem;
}


ul.sidebar-list {
	white-space: nowrap;
	overflow: auto;
}

ul.sidebar-list li {
	font-family: MomentumSansVariable !important;
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


ul.sidebar-list li.current {
	color: red;
	font-weight: bold;
}

ul.sidebar-list a {
	color: inherit;
	cursor: pointer;
	font-variation-settings: normal !important;
}

ul.sidebar-list a:hover {
	color: red;
}

/* CONTENT */

#the-proof {
/* 	width: 100%; */
	max-width: none;
	margin: 1rem;
}

#the-proof.fixed-line-breaks {
	word-break: break-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 36pt;
	line-height: 1.5;
	text-align: left;
}

#the-proof.fixed-line-breaks div, #the-proof.fixed-line-breaks span {
	display: block;
	white-space: nowrap;
	word-break: normal;
	word-wrap: normal;
	overflow-wrap: normal;
}

#the-proof.fixed-line-breaks span {
	display: inline-block;
	min-width: 1em;
/* 	font: inherit; */
	text-align: left;
}


/* ANIMATION */

#the-proof, #keyframes-display a {
	animation-name: videoproof;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 60s;
    outline-offset: 100px; /* this is a standin for percent of animation cycle */
    outline-style: solid;
    outline-color: transparent;
    outline-width: 1px;
}

.paused #the-proof, .paused #keyframes-display a {
	animation-play-state: paused;
}

.moar #the-proof {
	animation-name: moar;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

.moar #keyframes-display a {
	animation-play-state: paused;
}