<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>V</key>
      <integer>-24</integer>
      <key>public.kern2.T_UC</key>
      <integer>-27</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-55</integer>
      <key>public.kern2.emdash</key>
      <integer>20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>a</key>
      <integer>-34</integer>
      <key>aacute</key>
      <integer>-34</integer>
      <key>abreve</key>
      <integer>-34</integer>
      <key>abreveacute</key>
      <integer>-34</integer>
      <key>abrevedotbelow</key>
      <integer>-34</integer>
      <key>abrevegrave</key>
      <integer>-34</integer>
      <key>abrevehookabove</key>
      <integer>-34</integer>
      <key>abrevetilde</key>
      <integer>-34</integer>
      <key>acircumflex</key>
      <integer>-34</integer>
      <key>acircumflexacute</key>
      <integer>-34</integer>
      <key>acircumflexdotbelow</key>
      <integer>-34</integer>
      <key>acircumflexgrave</key>
      <integer>-34</integer>
      <key>acircumflexhookabove</key>
      <integer>-34</integer>
      <key>acircumflextilde</key>
      <integer>-34</integer>
      <key>adblgrave</key>
      <integer>-34</integer>
      <key>adieresis</key>
      <integer>-34</integer>
      <key>adotbelow</key>
      <integer>-34</integer>
      <key>agrave</key>
      <integer>-34</integer>
      <key>ahookabove</key>
      <integer>-34</integer>
      <key>ainvertedbreve</key>
      <integer>-34</integer>
      <key>amacron</key>
      <integer>-34</integer>
      <key>aogonek</key>
      <integer>-34</integer>
      <key>aring</key>
      <integer>-34</integer>
      <key>aringacute</key>
      <integer>-34</integer>
      <key>asterisk</key>
      <integer>20</integer>
      <key>at</key>
      <integer>-20</integer>
      <key>atilde</key>
      <integer>-34</integer>
      <key>backslash</key>
      <integer>110</integer>
      <key>o</key>
      <integer>-21</integer>
      <key>oacute</key>
      <integer>-21</integer>
      <key>obreve</key>
      <integer>-21</integer>
      <key>ocircumflex</key>
      <integer>-21</integer>
      <key>ocircumflexacute</key>
      <integer>-21</integer>
      <key>ocircumflexdotbelow</key>
      <integer>-21</integer>
      <key>ocircumflexgrave</key>
      <integer>-21</integer>
      <key>ocircumflexhookabove</key>
      <integer>-21</integer>
      <key>ocircumflextilde</key>
      <integer>-21</integer>
      <key>odblgrave</key>
      <integer>-21</integer>
      <key>odieresis</key>
      <integer>-21</integer>
      <key>odieresismacron</key>
      <integer>-21</integer>
      <key>odotaccentmacron</key>
      <integer>-21</integer>
      <key>odotbelow</key>
      <integer>-21</integer>
      <key>ograve</key>
      <integer>-21</integer>
      <key>ohookabove</key>
      <integer>-21</integer>
      <key>ohorntilde</key>
      <integer>-21</integer>
      <key>ohungarumlaut</key>
      <integer>-21</integer>
      <key>oinvertedbreve</key>
      <integer>-21</integer>
      <key>omacron</key>
      <integer>-21</integer>
      <key>oogonek</key>
      <integer>-21</integer>
      <key>otilde</key>
      <integer>-21</integer>
      <key>otildemacron</key>
      <integer>-21</integer>
      <key>public.kern2.A_UC</key>
      <integer>-170</integer>
      <key>public.kern2.J_UC</key>
      <integer>-184</integer>
      <key>public.kern2.T_UC</key>
      <integer>20</integer>
      <key>public.kern2.a_LC</key>
      <integer>0</integer>
      <key>public.kern2.alpha</key>
      <integer>-21</integer>
      <key>public.kern2.colon</key>
      <integer>-40</integer>
      <key>public.kern2.comma</key>
      <integer>-184</integer>
      <key>public.kern2.gamma</key>
      <integer>-24</integer>
      <key>public.kern2.minute</key>
      <integer>60</integer>
      <key>public.kern2.mnpr_LC</key>
      <integer>-26</integer>
      <key>public.kern2.o_LC</key>
      <integer>0</integer>
      <key>public.kern2.u_LC</key>
      <integer>-22</integer>
      <key>slash</key>
      <integer>-50</integer>
    </dict>
    <key>Lslash</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>asterisk</key>
      <integer>-100</integer>
      <key>backslash</key>
      <integer>-110</integer>
      <key>public.kern2.minute</key>
      <integer>-80</integer>
      <key>slash</key>
      <integer>90</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>X</key>
      <integer>-31</integer>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>asterisk</key>
      <integer>50</integer>
      <key>at</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>60</integer>
      <key>public.kern2.AE_UC</key>
      <integer>-97</integer>
      <key>public.kern2.A_UC</key>
      <integer>-113</integer>
      <key>public.kern2.J_UC</key>
      <integer>-170</integer>
      <key>public.kern2.Z_UC</key>
      <integer>-26</integer>
      <key>public.kern2.a_LC</key>
      <integer>-11</integer>
      <key>public.kern2.alpha</key>
      <integer>-13</integer>
      <key>public.kern2.comma</key>
      <integer>-274</integer>
      <key>public.kern2.emdash</key>
      <integer>20</integer>
      <key>public.kern2.gamma</key>
      <integer>15</integer>
      <key>public.kern2.minute</key>
      <integer>60</integer>
      <key>public.kern2.o_LC</key>
      <integer>-13</integer>
      <key>public.kern2.t_LC</key>
      <integer>14</integer>
      <key>slash</key>
      <integer>-70</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>V</key>
      <integer>-28</integer>
      <key>Y</key>
      <integer>-35</integer>
      <key>Yacute</key>
      <integer>-35</integer>
      <key>Ycircumflex</key>
      <integer>-35</integer>
      <key>Ydieresis</key>
      <integer>-35</integer>
      <key>Ydotbelow</key>
      <integer>-35</integer>
      <key>Ygrave</key>
      <integer>-35</integer>
      <key>Yhookabove</key>
      <integer>-35</integer>
      <key>Ytilde</key>
      <integer>-35</integer>
      <key>public.kern2.T_UC</key>
      <integer>-43</integer>
      <key>public.kern2.W_UC</key>
      <integer>-20</integer>
      <key>public.kern2.Y_UC</key>
      <integer>0</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.emdash</key>
      <integer>30</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>asterisk</key>
      <integer>40</integer>
      <key>at</key>
      <integer>30</integer>
      <key>public.kern2.comma</key>
      <integer>-110</integer>
      <key>public.kern2.emdash</key>
      <integer>70</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>ampersand</key>
      <integer>-50</integer>
      <key>asterisk</key>
      <integer>20</integer>
      <key>at</key>
      <integer>-90</integer>
      <key>backslash</key>
      <integer>150</integer>
      <key>public.kern2.A_UC</key>
      <integer>-75</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-13</integer>
      <key>public.kern2.J_UC</key>
      <integer>-75</integer>
      <key>public.kern2.Y_UC</key>
      <integer>40</integer>
      <key>public.kern2.a_LC</key>
      <integer>-46</integer>
      <key>public.kern2.alpha</key>
      <integer>-44</integer>
      <key>public.kern2.colon</key>
      <integer>-50</integer>
      <key>public.kern2.comma</key>
      <integer>-200</integer>
      <key>public.kern2.emdash</key>
      <integer>-37</integer>
      <key>public.kern2.gamma</key>
      <integer>-11</integer>
      <key>public.kern2.minute</key>
      <integer>60</integer>
      <key>public.kern2.mnpr_LC</key>
      <integer>-30</integer>
      <key>public.kern2.o_LC</key>
      <integer>-46</integer>
      <key>public.kern2.parens</key>
      <integer>20</integer>
      <key>public.kern2.u_LC</key>
      <integer>-28</integer>
      <key>slash</key>
      <integer>-90</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>V</key>
      <integer>14</integer>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-30</integer>
      <key>backslash</key>
      <integer>100</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-25</integer>
      <key>public.kern2.alpha</key>
      <integer>-26</integer>
      <key>public.kern2.emdash</key>
      <integer>-50</integer>
      <key>public.kern2.gamma</key>
      <integer>-31</integer>
      <key>public.kern2.o_LC</key>
      <integer>-21</integer>
      <key>public.kern2.u_LC</key>
      <integer>-21</integer>
      <key>slash</key>
      <integer>90</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>bullet</key>
      <integer>-45</integer>
    </dict>
    <key>Yacute</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-49</integer>
      <key>bullet</key>
      <integer>-45</integer>
    </dict>
    <key>Ycircumflex</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-49</integer>
      <key>bullet</key>
      <integer>-45</integer>
    </dict>
    <key>Ydieresis</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-49</integer>
      <key>bullet</key>
      <integer>-45</integer>
    </dict>
    <key>Ydotbelow</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-49</integer>
      <key>bullet</key>
      <integer>-45</integer>
    </dict>
    <key>Ygrave</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-49</integer>
      <key>bullet</key>
      <integer>-45</integer>
    </dict>
    <key>Yhookabove</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-49</integer>
      <key>bullet</key>
      <integer>-45</integer>
    </dict>
    <key>Ytilde</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-49</integer>
      <key>bullet</key>
      <integer>-45</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>Eth</key>
      <integer>40</integer>
      <key>Lslash</key>
      <integer>40</integer>
      <key>V</key>
      <integer>-90</integer>
      <key>X</key>
      <integer>20</integer>
      <key>lslash</key>
      <integer>40</integer>
      <key>public.kern2.A_UC</key>
      <integer>50</integer>
      <key>public.kern2.J_UC</key>
      <integer>50</integer>
      <key>public.kern2.T_UC</key>
      <integer>-130</integer>
      <key>public.kern2.U_UC</key>
      <integer>-20</integer>
      <key>public.kern2.W_UC</key>
      <integer>-80</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-150</integer>
      <key>public.kern2.f_LC</key>
      <integer>-20</integer>
      <key>public.kern2.gamma</key>
      <integer>-30</integer>
      <key>public.kern2.w_LC</key>
      <integer>-30</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>V</key>
      <integer>20</integer>
      <key>X</key>
      <integer>-30</integer>
      <key>eth</key>
      <integer>-30</integer>
      <key>public.kern2.A_UC</key>
      <integer>-100</integer>
      <key>public.kern2.J_UC</key>
      <integer>-100</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-20</integer>
      <key>public.kern2.a_LC</key>
      <integer>-30</integer>
      <key>public.kern2.alpha</key>
      <integer>-20</integer>
      <key>public.kern2.f_LC</key>
      <integer>60</integer>
      <key>public.kern2.gamma</key>
      <integer>80</integer>
      <key>public.kern2.o_LC</key>
      <integer>-20</integer>
      <key>public.kern2.s_LC</key>
      <integer>-10</integer>
      <key>public.kern2.t_LC</key>
      <integer>70</integer>
      <key>public.kern2.w_LC</key>
      <integer>60</integer>
      <key>public.kern2.z_LC</key>
      <integer>30</integer>
      <key>x</key>
      <integer>30</integer>
    </dict>
    <key>at</key>
    <dict>
      <key>Eth</key>
      <integer>30</integer>
      <key>Lslash</key>
      <integer>20</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>X</key>
      <integer>-50</integer>
      <key>lslash</key>
      <integer>20</integer>
      <key>public.kern2.J_UC</key>
      <integer>40</integer>
      <key>public.kern2.T_UC</key>
      <integer>-70</integer>
      <key>public.kern2.W_UC</key>
      <integer>-20</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-110</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>V</key>
      <integer>-90</integer>
      <key>X</key>
      <integer>90</integer>
      <key>public.kern2.A_UC</key>
      <integer>120</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-40</integer>
      <key>public.kern2.J_UC</key>
      <integer>70</integer>
      <key>public.kern2.T_UC</key>
      <integer>-130</integer>
      <key>public.kern2.U_UC</key>
      <integer>-30</integer>
      <key>public.kern2.W_UC</key>
      <integer>-20</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-110</integer>
      <key>public.kern2.Z_UC</key>
      <integer>80</integer>
      <key>public.kern2.o_LC</key>
      <integer>-20</integer>
      <key>public.kern2.z_LC</key>
      <integer>90</integer>
      <key>thorn</key>
      <integer>60</integer>
      <key>x</key>
      <integer>100</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>eacute</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ebreve</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ecaron</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ecircumflex</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ecircumflexacute</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ecircumflexdotbelow</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ecircumflexgrave</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ecircumflexhookabove</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ecircumflextilde</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>edieresis</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>edotaccent</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>edotbelow</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>egrave</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ehookabove</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ellipsis</key>
    <dict>
      <key>j</key>
      <integer>0</integer>
    </dict>
    <key>emacron</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>eogonek</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>eth</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.emdash</key>
      <integer>50</integer>
    </dict>
    <key>etilde</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>hcircumflex</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>lslash</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>10</integer>
      <key>at</key>
      <integer>-20</integer>
      <key>public.kern2.minute</key>
      <integer>40</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>nacute</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>napostrophe</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ncaron</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ncommaaccent</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>ntilde</key>
    <dict>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>j</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.A_UC</key>
    <dict>
      <key>V</key>
      <integer>-87</integer>
      <key>asterisk</key>
      <integer>-100</integer>
      <key>at</key>
      <integer>60</integer>
      <key>backslash</key>
      <integer>-60</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-11</integer>
      <key>public.kern2.J_UC</key>
      <integer>90</integer>
      <key>public.kern2.T_UC</key>
      <integer>-129</integer>
      <key>public.kern2.U_UC</key>
      <integer>-17</integer>
      <key>public.kern2.W_UC</key>
      <integer>-69</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-94</integer>
      <key>public.kern2.colon</key>
      <integer>20</integer>
      <key>public.kern2.comma</key>
      <integer>50</integer>
      <key>public.kern2.gamma</key>
      <integer>-50</integer>
      <key>public.kern2.minute</key>
      <integer>-100</integer>
      <key>public.kern2.o_LC</key>
      <integer>-12</integer>
      <key>public.kern2.t_LC</key>
      <integer>-17</integer>
      <key>public.kern2.u_LC</key>
      <integer>-11</integer>
      <key>public.kern2.w_LC</key>
      <integer>-33</integer>
      <key>public.kern2.z_LC</key>
      <integer>12</integer>
      <key>question</key>
      <integer>-61</integer>
      <key>slash</key>
      <integer>120</integer>
    </dict>
    <key>public.kern1.C_UC</key>
    <dict>
      <key>V</key>
      <integer>-10</integer>
      <key>asterisk</key>
      <integer>20</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>public.kern2.J_UC</key>
      <integer>20</integer>
      <key>public.kern2.T_UC</key>
      <integer>10</integer>
      <key>public.kern2.W_UC</key>
      <integer>-10</integer>
      <key>public.kern2.emdash</key>
      <integer>30</integer>
      <key>public.kern2.minute</key>
      <integer>40</integer>
      <key>public.kern2.parens</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.D_UC</key>
    <dict>
      <key>V</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-22</integer>
      <key>public.kern2.AE_UC</key>
      <integer>-33</integer>
      <key>public.kern2.A_UC</key>
      <integer>-21</integer>
      <key>public.kern2.T_UC</key>
      <integer>-27</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-75</integer>
      <key>public.kern2.Z_UC</key>
      <integer>-23</integer>
      <key>public.kern2.colon</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.emdash</key>
      <integer>30</integer>
      <key>slash</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.E_UC</key>
    <dict>
      <key>at</key>
      <integer>50</integer>
      <key>backslash</key>
      <integer>100</integer>
      <key>public.kern2.T_UC</key>
      <integer>20</integer>
      <key>public.kern2.alpha</key>
      <integer>-19</integer>
      <key>public.kern2.emdash</key>
      <integer>30</integer>
      <key>public.kern2.f_LC</key>
      <integer>-18</integer>
      <key>public.kern2.gamma</key>
      <integer>-26</integer>
      <key>public.kern2.minute</key>
      <integer>40</integer>
      <key>public.kern2.o_LC</key>
      <integer>-19</integer>
      <key>public.kern2.u_LC</key>
      <integer>-17</integer>
      <key>public.kern2.w_LC</key>
      <integer>-22</integer>
      <key>slash</key>
      <integer>80</integer>
    </dict>
    <key>public.kern1.G_UC</key>
    <dict>
      <key>public.kern2.emdash</key>
      <integer>30</integer>
      <key>slash</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.JU_UC</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>at</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>public.kern2.A_UC</key>
      <integer>-22</integer>
      <key>public.kern2.colon</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.emdash</key>
      <integer>10</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.K_UC</key>
    <dict>
      <key>backslash</key>
      <integer>120</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-31</integer>
      <key>public.kern2.alpha</key>
      <integer>-26</integer>
      <key>public.kern2.comma</key>
      <integer>80</integer>
      <key>public.kern2.emdash</key>
      <integer>-64</integer>
      <key>public.kern2.gamma</key>
      <integer>-40</integer>
      <key>public.kern2.minute</key>
      <integer>50</integer>
      <key>public.kern2.mnpr_LC</key>
      <integer>-23</integer>
      <key>public.kern2.o_LC</key>
      <integer>-27</integer>
      <key>public.kern2.u_LC</key>
      <integer>-23</integer>
      <key>public.kern2.w_LC</key>
      <integer>-63</integer>
      <key>slash</key>
      <integer>140</integer>
    </dict>
    <key>public.kern1.L_UC</key>
    <dict>
      <key>V</key>
      <integer>-135</integer>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>asterisk</key>
      <integer>-120</integer>
      <key>at</key>
      <integer>30</integer>
      <key>backslash</key>
      <integer>-100</integer>
      <key>public.kern2.A_UC</key>
      <integer>19</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-65</integer>
      <key>public.kern2.T_UC</key>
      <integer>-145</integer>
      <key>public.kern2.U_UC</key>
      <integer>-54</integer>
      <key>public.kern2.W_UC</key>
      <integer>-113</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-189</integer>
      <key>public.kern2.comma</key>
      <integer>40</integer>
      <key>public.kern2.gamma</key>
      <integer>-133</integer>
      <key>public.kern2.minute</key>
      <integer>-206</integer>
      <key>public.kern2.u_LC</key>
      <integer>-44</integer>
      <key>public.kern2.w_LC</key>
      <integer>-92</integer>
      <key>slash</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.LeftStraight_UC</key>
    <dict>
      <key>X</key>
      <integer>17</integer>
      <key>public.kern2.A_UC</key>
      <integer>18</integer>
      <key>public.kern2.T_UC</key>
      <integer>-29</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-28</integer>
    </dict>
    <key>public.kern1.R_UC</key>
    <dict>
      <key>V</key>
      <integer>-19</integer>
      <key>public.kern2.T_UC</key>
      <integer>-80</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-48</integer>
      <key>public.kern2.comma</key>
      <integer>60</integer>
      <key>public.kern2.emdash</key>
      <integer>-30</integer>
      <key>slash</key>
      <integer>80</integer>
    </dict>
    <key>public.kern1.S_UC</key>
    <dict>
      <key>backslash</key>
      <integer>20</integer>
      <key>public.kern2.emdash</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.T_UC</key>
    <dict>
      <key>V</key>
      <integer>16</integer>
      <key>ampersand</key>
      <integer>-60</integer>
      <key>at</key>
      <integer>-70</integer>
      <key>backslash</key>
      <integer>160</integer>
      <key>public.kern2.AE_UC</key>
      <integer>-179</integer>
      <key>public.kern2.A_UC</key>
      <integer>-79</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-28</integer>
      <key>public.kern2.J_UC</key>
      <integer>-160</integer>
      <key>public.kern2.S_UC</key>
      <integer>-16</integer>
      <key>public.kern2.T_UC</key>
      <integer>16</integer>
      <key>public.kern2.W_UC</key>
      <integer>15</integer>
      <key>public.kern2.Y_UC</key>
      <integer>16</integer>
      <key>public.kern2.a_LC</key>
      <integer>-155</integer>
      <key>public.kern2.alpha</key>
      <integer>-150</integer>
      <key>public.kern2.colon</key>
      <integer>-110</integer>
      <key>public.kern2.comma</key>
      <integer>-180</integer>
      <key>public.kern2.emdash</key>
      <integer>-190</integer>
      <key>public.kern2.gamma</key>
      <integer>-122</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-328</integer>
      <key>public.kern2.guillemotright</key>
      <integer>-216</integer>
      <key>public.kern2.minute</key>
      <integer>60</integer>
      <key>public.kern2.mnpr_LC</key>
      <integer>-150</integer>
      <key>public.kern2.o_LC</key>
      <integer>-150</integer>
      <key>public.kern2.s_LC</key>
      <integer>-176</integer>
      <key>public.kern2.u_LC</key>
      <integer>-135</integer>
      <key>public.kern2.w_LC</key>
      <integer>-137</integer>
      <key>public.kern2.z_LC</key>
      <integer>-60</integer>
      <key>slash</key>
      <integer>-130</integer>
      <key>space</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-77</integer>
    </dict>
    <key>public.kern1.W_UC</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>at</key>
      <integer>-60</integer>
      <key>backslash</key>
      <integer>100</integer>
      <key>public.kern2.A_UC</key>
      <integer>-43</integer>
      <key>public.kern2.T_UC</key>
      <integer>14</integer>
      <key>public.kern2.a_LC</key>
      <integer>-33</integer>
      <key>public.kern2.alpha</key>
      <integer>-31</integer>
      <key>public.kern2.colon</key>
      <integer>-40</integer>
      <key>public.kern2.comma</key>
      <integer>-123</integer>
      <key>public.kern2.emdash</key>
      <integer>-50</integer>
      <key>public.kern2.minute</key>
      <integer>40</integer>
      <key>public.kern2.mnpr_LC</key>
      <integer>-21</integer>
      <key>public.kern2.o_LC</key>
      <integer>-31</integer>
      <key>public.kern2.parens</key>
      <integer>12</integer>
      <key>public.kern2.u_LC</key>
      <integer>-19</integer>
      <key>slash</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Y_UC</key>
    <dict>
      <key>V</key>
      <integer>40</integer>
      <key>X</key>
      <integer>13</integer>
      <key>ampersand</key>
      <integer>-100</integer>
      <key>asterisk</key>
      <integer>-20</integer>
      <key>at</key>
      <integer>-140</integer>
      <key>backslash</key>
      <integer>150</integer>
      <key>bullet</key>
      <integer>0</integer>
      <key>eth</key>
      <integer>-90</integer>
      <key>germandbls</key>
      <integer>-60</integer>
      <key>lslash</key>
      <integer>-40</integer>
      <key>public.kern2.AE_UC</key>
      <integer>-96</integer>
      <key>public.kern2.A_UC</key>
      <integer>-94</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-75</integer>
      <key>public.kern2.J_UC</key>
      <integer>-156</integer>
      <key>public.kern2.S_UC</key>
      <integer>-16</integer>
      <key>public.kern2.T_UC</key>
      <integer>17</integer>
      <key>public.kern2.W_UC</key>
      <integer>17</integer>
      <key>public.kern2.Y_UC</key>
      <integer>18</integer>
      <key>public.kern2.a_LC</key>
      <integer>-153</integer>
      <key>public.kern2.alpha</key>
      <integer>-145</integer>
      <key>public.kern2.colon</key>
      <integer>-80</integer>
      <key>public.kern2.comma</key>
      <integer>-211</integer>
      <key>public.kern2.emdash</key>
      <integer>-90</integer>
      <key>public.kern2.f_LC</key>
      <integer>-22</integer>
      <key>public.kern2.gamma</key>
      <integer>-60</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-82</integer>
      <key>public.kern2.guillemotright</key>
      <integer>-51</integer>
      <key>public.kern2.minute</key>
      <integer>50</integer>
      <key>public.kern2.mnpr_LC</key>
      <integer>-110</integer>
      <key>public.kern2.o_LC</key>
      <integer>-145</integer>
      <key>public.kern2.parens</key>
      <integer>20</integer>
      <key>public.kern2.s_LC</key>
      <integer>-128</integer>
      <key>public.kern2.t_LC</key>
      <integer>-22</integer>
      <key>public.kern2.u_LC</key>
      <integer>-99</integer>
      <key>public.kern2.w_LC</key>
      <integer>-70</integer>
      <key>public.kern2.z_LC</key>
      <integer>-70</integer>
      <key>slash</key>
      <integer>-110</integer>
      <key>x</key>
      <integer>-83</integer>
    </dict>
    <key>public.kern1.Z_UC</key>
    <dict>
      <key>backslash</key>
      <integer>80</integer>
      <key>public.kern2.A_UC</key>
      <integer>13</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-26</integer>
      <key>public.kern2.alpha</key>
      <integer>-21</integer>
      <key>public.kern2.comma</key>
      <integer>80</integer>
      <key>public.kern2.gamma</key>
      <integer>-27</integer>
      <key>public.kern2.minute</key>
      <integer>30</integer>
      <key>public.kern2.o_LC</key>
      <integer>-21</integer>
      <key>public.kern2.u_LC</key>
      <integer>-19</integer>
      <key>public.kern2.w_LC</key>
      <integer>-27</integer>
      <key>slash</key>
      <integer>80</integer>
    </dict>
    <key>public.kern1.a_LC</key>
    <dict>
      <key>backslash</key>
      <integer>-140</integer>
      <key>public.kern2.gamma</key>
      <integer>-15</integer>
      <key>public.kern2.minute</key>
      <integer>-54</integer>
    </dict>
    <key>public.kern1.b_LC</key>
    <dict>
      <key>asterisk</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-90</integer>
      <key>public.kern2.colon</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.emdash</key>
      <integer>40</integer>
      <key>public.kern2.gamma</key>
      <integer>-11</integer>
      <key>public.kern2.minute</key>
      <integer>-29</integer>
      <key>public.kern2.z_LC</key>
      <integer>-15</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.c_LC</key>
    <dict>
      <key>V</key>
      <integer>-60</integer>
      <key>at</key>
      <integer>30</integer>
      <key>backslash</key>
      <integer>-60</integer>
      <key>public.kern2.A_UC</key>
      <integer>60</integer>
      <key>public.kern2.J_UC</key>
      <integer>40</integer>
      <key>public.kern2.T_UC</key>
      <integer>-180</integer>
      <key>public.kern2.U_UC</key>
      <integer>30</integer>
      <key>public.kern2.W_UC</key>
      <integer>-30</integer>
      <key>public.kern2.emdash</key>
      <integer>50</integer>
      <key>public.kern2.f_LC</key>
      <integer>55</integer>
      <key>public.kern2.minute</key>
      <integer>-11</integer>
      <key>slash</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>V</key>
      <integer>-50</integer>
      <key>public.kern2.A_UC</key>
      <integer>20</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-20</integer>
      <key>public.kern2.T_UC</key>
      <integer>-110</integer>
      <key>public.kern2.U_UC</key>
      <integer>-20</integer>
      <key>public.kern2.W_UC</key>
      <integer>-40</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-80</integer>
      <key>public.kern2.alpha</key>
      <integer>-20</integer>
      <key>public.kern2.o_LC</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.comma</key>
    <dict>
      <key>V</key>
      <integer>-200</integer>
      <key>eth</key>
      <integer>-20</integer>
      <key>j</key>
      <integer>60</integer>
      <key>public.kern2.A_UC</key>
      <integer>50</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-80</integer>
      <key>public.kern2.J_UC</key>
      <integer>30</integer>
      <key>public.kern2.T_UC</key>
      <integer>-180</integer>
      <key>public.kern2.U_UC</key>
      <integer>-30</integer>
      <key>public.kern2.W_UC</key>
      <integer>-123</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-211</integer>
      <key>public.kern2.Z_UC</key>
      <integer>70</integer>
      <key>public.kern2.alpha</key>
      <integer>-20</integer>
      <key>public.kern2.f_LC</key>
      <integer>-30</integer>
      <key>public.kern2.gamma</key>
      <integer>-110</integer>
      <key>public.kern2.minute</key>
      <integer>-170</integer>
      <key>public.kern2.o_LC</key>
      <integer>-20</integer>
      <key>public.kern2.t_LC</key>
      <integer>-50</integer>
      <key>public.kern2.u_LC</key>
      <integer>-30</integer>
      <key>public.kern2.w_LC</key>
      <integer>-124</integer>
      <key>x</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.e_LC</key>
    <dict>
      <key>V</key>
      <integer>-60</integer>
      <key>ampersand</key>
      <integer>50</integer>
      <key>at</key>
      <integer>20</integer>
      <key>backslash</key>
      <integer>-70</integer>
      <key>public.kern2.A_UC</key>
      <integer>60</integer>
      <key>public.kern2.CG_UC</key>
      <integer>30</integer>
      <key>public.kern2.J_UC</key>
      <integer>70</integer>
      <key>public.kern2.T_UC</key>
      <integer>-150</integer>
      <key>public.kern2.U_UC</key>
      <integer>40</integer>
      <key>public.kern2.W_UC</key>
      <integer>-40</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-125</integer>
      <key>public.kern2.Z_UC</key>
      <integer>30</integer>
      <key>public.kern2.comma</key>
      <integer>30</integer>
      <key>public.kern2.emdash</key>
      <integer>80</integer>
      <key>public.kern2.gamma</key>
      <integer>-13</integer>
      <key>public.kern2.minute</key>
      <integer>-14</integer>
      <key>slash</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.emdash</key>
    <dict>
      <key>Eth</key>
      <integer>90</integer>
      <key>Lslash</key>
      <integer>90</integer>
      <key>V</key>
      <integer>-37</integer>
      <key>X</key>
      <integer>-50</integer>
      <key>eth</key>
      <integer>30</integer>
      <key>lslash</key>
      <integer>70</integer>
      <key>public.kern2.CG_UC</key>
      <integer>30</integer>
      <key>public.kern2.T_UC</key>
      <integer>-190</integer>
      <key>public.kern2.U_UC</key>
      <integer>10</integer>
      <key>public.kern2.W_UC</key>
      <integer>-50</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-90</integer>
      <key>public.kern2.a_LC</key>
      <integer>-10</integer>
      <key>public.kern2.alpha</key>
      <integer>40</integer>
      <key>public.kern2.gamma</key>
      <integer>20</integer>
      <key>public.kern2.o_LC</key>
      <integer>40</integer>
      <key>public.kern2.t_LC</key>
      <integer>20</integer>
      <key>public.kern2.w_LC</key>
      <integer>20</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.f_LC</key>
    <dict>
      <key>ampersand</key>
      <integer>40</integer>
      <key>asterisk</key>
      <integer>100</integer>
      <key>backslash</key>
      <integer>240</integer>
      <key>j</key>
      <integer>90</integer>
      <key>public.kern2.alpha</key>
      <integer>-24</integer>
      <key>public.kern2.bhk_LC</key>
      <integer>80</integer>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
      <key>public.kern2.f_LC</key>
      <integer>55</integer>
      <key>public.kern2.gamma</key>
      <integer>120</integer>
      <key>public.kern2.i_LC</key>
      <integer>90</integer>
      <key>public.kern2.minute</key>
      <integer>166</integer>
      <key>public.kern2.parens</key>
      <integer>160</integer>
      <key>public.kern2.t_LC</key>
      <integer>65</integer>
      <key>public.kern2.w_LC</key>
      <integer>95</integer>
    </dict>
    <key>public.kern1.gamma</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>asterisk</key>
      <integer>80</integer>
      <key>at</key>
      <integer>-30</integer>
      <key>backslash</key>
      <integer>20</integer>
      <key>public.kern2.a_LC</key>
      <integer>-15</integer>
      <key>public.kern2.alpha</key>
      <integer>-13</integer>
      <key>public.kern2.comma</key>
      <integer>-110</integer>
      <key>public.kern2.emdash</key>
      <integer>20</integer>
      <key>public.kern2.f_LC</key>
      <integer>13</integer>
      <key>public.kern2.minute</key>
      <integer>60</integer>
      <key>public.kern2.o_LC</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.hmn_LC</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-140</integer>
      <key>public.kern2.minute</key>
      <integer>-54</integer>
    </dict>
    <key>public.kern1.k_LC</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>asterisk</key>
      <integer>30</integer>
      <key>public.kern2.alpha</key>
      <integer>-20</integer>
      <key>public.kern2.colon</key>
      <integer>50</integer>
      <key>public.kern2.comma</key>
      <integer>80</integer>
      <key>public.kern2.emdash</key>
      <integer>-60</integer>
      <key>slash</key>
      <integer>120</integer>
    </dict>
    <key>public.kern1.minute</key>
    <dict>
      <key>Eth</key>
      <integer>30</integer>
      <key>V</key>
      <integer>60</integer>
      <key>eth</key>
      <integer>-40</integer>
      <key>lslash</key>
      <integer>-30</integer>
      <key>public.kern2.A_UC</key>
      <integer>-100</integer>
      <key>public.kern2.T_UC</key>
      <integer>60</integer>
      <key>public.kern2.W_UC</key>
      <integer>40</integer>
      <key>public.kern2.Y_UC</key>
      <integer>50</integer>
      <key>public.kern2.Z_UC</key>
      <integer>50</integer>
      <key>public.kern2.a_LC</key>
      <integer>-50</integer>
      <key>public.kern2.alpha</key>
      <integer>-59</integer>
      <key>public.kern2.bhk_LC</key>
      <integer>0</integer>
      <key>public.kern2.f_LC</key>
      <integer>50</integer>
      <key>public.kern2.gamma</key>
      <integer>60</integer>
      <key>public.kern2.minute</key>
      <integer>-107</integer>
      <key>public.kern2.mnpr_LC</key>
      <integer>-20</integer>
      <key>public.kern2.o_LC</key>
      <integer>-56</integer>
      <key>public.kern2.s_LC</key>
      <integer>-30</integer>
      <key>public.kern2.t_LC</key>
      <integer>50</integer>
      <key>public.kern2.w_LC</key>
      <integer>60</integer>
      <key>public.kern2.z_LC</key>
      <integer>30</integer>
      <key>x</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.o_LC</key>
    <dict>
      <key>asterisk</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-120</integer>
      <key>public.kern2.colon</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.emdash</key>
      <integer>40</integer>
      <key>public.kern2.gamma</key>
      <integer>-15</integer>
      <key>public.kern2.minute</key>
      <integer>-56</integer>
      <key>public.kern2.z_LC</key>
      <integer>-16</integer>
      <key>slash</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-21</integer>
    </dict>
    <key>public.kern1.parens</key>
    <dict>
      <key>V</key>
      <integer>20</integer>
      <key>j</key>
      <integer>180</integer>
      <key>public.kern2.J_UC</key>
      <integer>-20</integer>
      <key>public.kern2.U_UC</key>
      <integer>-18</integer>
      <key>public.kern2.W_UC</key>
      <integer>18</integer>
      <key>public.kern2.Y_UC</key>
      <integer>22</integer>
      <key>public.kern2.gamma</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.r_LC</key>
    <dict>
      <key>ampersand</key>
      <integer>-50</integer>
      <key>asterisk</key>
      <integer>50</integer>
      <key>at</key>
      <integer>-20</integer>
      <key>public.kern2.a_LC</key>
      <integer>-40</integer>
      <key>public.kern2.alpha</key>
      <integer>-19</integer>
      <key>public.kern2.comma</key>
      <integer>-123</integer>
      <key>public.kern2.f_LC</key>
      <integer>30</integer>
      <key>public.kern2.gamma</key>
      <integer>18</integer>
      <key>public.kern2.minute</key>
      <integer>66</integer>
      <key>public.kern2.o_LC</key>
      <integer>-20</integer>
      <key>public.kern2.t_LC</key>
      <integer>50</integer>
      <key>public.kern2.w_LC</key>
      <integer>17</integer>
      <key>slash</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.s_LC</key>
    <dict>
      <key>asterisk</key>
      <integer>-30</integer>
      <key>backslash</key>
      <integer>-130</integer>
      <key>public.kern2.minute</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.t_LC</key>
    <dict>
      <key>asterisk</key>
      <integer>10</integer>
      <key>public.kern2.comma</key>
      <integer>30</integer>
      <key>public.kern2.minute</key>
      <integer>20</integer>
      <key>public.kern2.o_LC</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>90</integer>
    </dict>
    <key>public.kern1.u_LC</key>
    <dict>
      <key>backslash</key>
      <integer>-100</integer>
      <key>public.kern2.T_UC</key>
      <integer>-135</integer>
    </dict>
    <key>public.kern1.w_LC</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>60</integer>
      <key>public.kern2.comma</key>
      <integer>-124</integer>
      <key>public.kern2.emdash</key>
      <integer>20</integer>
      <key>public.kern2.minute</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.z_LC</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>backslash</key>
      <integer>-40</integer>
      <key>public.kern2.alpha</key>
      <integer>-16</integer>
      <key>public.kern2.o_LC</key>
      <integer>-16</integer>
      <key>slash</key>
      <integer>60</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>backslash</key>
      <integer>-100</integer>
      <key>j</key>
      <integer>80</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>h</key>
      <integer>32</integer>
      <key>k</key>
      <integer>32</integer>
      <key>l</key>
      <integer>32</integer>
      <key>lj</key>
      <integer>32</integer>
      <key>o</key>
      <integer>-128</integer>
      <key>oacute</key>
      <integer>-128</integer>
      <key>obreve</key>
      <integer>-128</integer>
      <key>ocircumflex</key>
      <integer>-128</integer>
      <key>ocircumflexacute</key>
      <integer>-128</integer>
      <key>ocircumflexdotbelow</key>
      <integer>-128</integer>
      <key>ocircumflexgrave</key>
      <integer>-128</integer>
      <key>ocircumflexhookabove</key>
      <integer>-128</integer>
      <key>ocircumflextilde</key>
      <integer>-128</integer>
      <key>odblgrave</key>
      <integer>-128</integer>
      <key>odieresis</key>
      <integer>-128</integer>
      <key>odieresismacron</key>
      <integer>-128</integer>
      <key>odotaccentmacron</key>
      <integer>-128</integer>
      <key>odotbelow</key>
      <integer>-128</integer>
      <key>ograve</key>
      <integer>-128</integer>
      <key>ohookabove</key>
      <integer>-128</integer>
      <key>ohorntilde</key>
      <integer>-128</integer>
      <key>ohungarumlaut</key>
      <integer>-128</integer>
      <key>oinvertedbreve</key>
      <integer>-128</integer>
      <key>omacron</key>
      <integer>-128</integer>
      <key>oogonek</key>
      <integer>-128</integer>
      <key>otilde</key>
      <integer>-128</integer>
      <key>otildemacron</key>
      <integer>-128</integer>
      <key>public.kern2.s_LC</key>
      <integer>-112</integer>
    </dict>
    <key>schwa</key>
    <dict>
      <key>public.kern2.minute</key>
      <integer>-14</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>Eth</key>
      <integer>30</integer>
      <key>V</key>
      <integer>150</integer>
      <key>X</key>
      <integer>100</integer>
      <key>eth</key>
      <integer>-30</integer>
      <key>public.kern2.A_UC</key>
      <integer>-60</integer>
      <key>public.kern2.J_UC</key>
      <integer>-70</integer>
      <key>public.kern2.S_UC</key>
      <integer>10</integer>
      <key>public.kern2.T_UC</key>
      <integer>140</integer>
      <key>public.kern2.U_UC</key>
      <integer>40</integer>
      <key>public.kern2.W_UC</key>
      <integer>100</integer>
      <key>public.kern2.Y_UC</key>
      <integer>150</integer>
      <key>public.kern2.Z_UC</key>
      <integer>90</integer>
      <key>public.kern2.a_LC</key>
      <integer>-140</integer>
      <key>public.kern2.alpha</key>
      <integer>-130</integer>
      <key>public.kern2.f_LC</key>
      <integer>20</integer>
      <key>public.kern2.gamma</key>
      <integer>20</integer>
      <key>public.kern2.mnpr_LC</key>
      <integer>-110</integer>
      <key>public.kern2.o_LC</key>
      <integer>-130</integer>
      <key>public.kern2.s_LC</key>
      <integer>-120</integer>
      <key>public.kern2.t_LC</key>
      <integer>50</integer>
      <key>public.kern2.u_LC</key>
      <integer>-110</integer>
      <key>public.kern2.z_LC</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-224</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.T_UC</key>
      <integer>-40</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>asterisk</key>
      <integer>30</integer>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.alpha</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>30</integer>
      <key>public.kern2.emdash</key>
      <integer>-30</integer>
      <key>public.kern2.minute</key>
      <integer>30</integer>
      <key>public.kern2.o_LC</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>100</integer>
    </dict>
  </dict>
</plist>
