<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.pnum</key>
    <string>five.pnum.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.pnum</key>
    <string>four.pnum.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.pnum</key>
    <string>nine.pnum.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.pnum</key>
    <string>one.pnum.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.pnum</key>
    <string>six.pnum.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.pnum</key>
    <string>three.pnum.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.pnum</key>
    <string>two.pnum.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.pnum</key>
    <string>zero.pnum.glif</string>
  </dict>
</plist>
