<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>s</key>
    <string>s.glif</string>
  </dict>
</plist>
