<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>dje</key>
    <string>dje.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>yi</key>
    <string>yi.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
  </dict>
</plist>
