<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,1</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.6.1
1648323906.0 Z_he.glif
1648323906.0 Z_hedescender.glif
1645310730.0 _notdef.glif
1648323906.0 zhe.glif
1648323906.0 zhedescender.glif</string>
    </dict>
  </dict>
</plist>
