<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>El.bgr</key>
    <string>E_l.bgr.glif</string>
    <key>Hadescender</key>
    <string>H_adescender.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kabashkircyr</key>
    <string>K_abashkircyr.glif</string>
    <key>Kadescender</key>
    <string>K_adescender.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>Ustraightstroke</key>
    <string>U_straightstroke.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>ustraightstroke</key>
    <string>ustraightstroke.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
