<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,1</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.6.1
1645304661.0 E_l.bgr.glif
1645305019.0 H_adescender.glif
1648327770.0 K_a.glif
1648327925.0 K_abashkircyr.glif
1648327925.0 K_adescender.glif
1645304661.0 K_aisymbol.glif
1648327925.0 K_averticalstrokecyr.glif
1645305089.0 U_straightstroke.glif
1645305336.0 Z_he.bgr.glif
1648327770.0 Z_he.glif
1648327770.0 Z_hedescender.glif
1645307123.0 el.bgr.glif
1645306693.0 kabashkircyr.glif
1645306693.0 kadescender.glif
1645306693.0 kaverticalstrokecyr.glif
1645306980.0 ustraight.glif
1645306980.0 ustraightstroke.glif
1648328178.0 zhe.glif
1648328178.0 zhedescender.glif</string>
    </dict>
  </dict>
</plist>
