<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>dje</key>
    <string>dje.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>hard</key>
    <string>hard.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
