<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>acute</key>
    <string>acute.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
  </dict>
</plist>
