<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>breveinvertedcomb.case</key>
    <string>breveinvertedcomb.case.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
  </dict>
</plist>
