<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acutecombstack.case</key>
    <string>acutecombstack.case.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecombstack.case</key>
    <string>brevecombstack.case.glif</string>
    <key>breveinvertedcomb.case</key>
    <string>breveinvertedcomb.case.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcombstack.case</key>
    <string>circumflexcombstack.case.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscombstack.case</key>
    <string>dieresiscombstack.case.glif</string>
    <key>dotaccentcombstack.case</key>
    <string>dotaccentcombstack.case.glif</string>
    <key>eight.prop</key>
    <string>eight.prop.glif</string>
    <key>five.prop</key>
    <string>five.prop.glif</string>
    <key>four.prop</key>
    <string>four.prop.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecombstack.case</key>
    <string>gravecombstack.case.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>hookabovecombstack.case</key>
    <string>hookabovecombstack.case.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>macroncombstack.case</key>
    <string>macroncombstack.case.glif</string>
    <key>nine.prop</key>
    <string>nine.prop.glif</string>
    <key>one.prop</key>
    <string>one.prop.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven.prop</key>
    <string>seven.prop.glif</string>
    <key>six.prop</key>
    <string>six.prop.glif</string>
    <key>three.prop</key>
    <string>three.prop.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecombstack.case</key>
    <string>tildecombstack.case.glif</string>
    <key>two.prop</key>
    <string>two.prop.glif</string>
    <key>zero.prop</key>
    <string>zero.prop.glif</string>
  </dict>
</plist>
