<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Be</key>
		<string>B_e.glif</string>
		<key>De</key>
		<string>D_e.glif</string>
		<key>Ef</key>
		<string>E_f.glif</string>
		<key>Esdescendercyr</key>
		<string>E_sdescendercyr.glif</string>
		<key>Ghestroke</key>
		<string>G_hestroke.glif</string>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>Ieukran</key>
		<string>I_eukran.glif</string>
		<key>Ka</key>
		<string>K_a.glif</string>
		<key>Kadescender</key>
		<string>K_adescender.glif</string>
		<key>Soft</key>
		<string>S_oft.glif</string>
		<key>Ze</key>
		<string>Z_e.glif</string>
		<key>Zhe</key>
		<string>Z_he.glif</string>
		<key>Zhedescender</key>
		<string>Z_hedescender.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>be</key>
		<string>be.glif</string>
		<key>be.locl</key>
		<string>be.locl.glif</string>
		<key>breve.cyr</key>
		<string>breve.cyr.glif</string>
		<key>breve.cyr.case</key>
		<string>breve.cyr.case.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>de</key>
		<string>de.glif</string>
		<key>en</key>
		<string>en.glif</string>
		<key>esdescendercyr</key>
		<string>esdescendercyr.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>f_f_i</key>
		<string>f_f_i.glif</string>
		<key>f_f_l</key>
		<string>f_f_l.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>ghe</key>
		<string>ghe.glif</string>
		<key>greaterequal</key>
		<string>greaterequal.glif</string>
		<key>guilsinglright</key>
		<string>guilsinglright.glif</string>
		<key>hyphentwo</key>
		<string>hyphentwo.glif</string>
		<key>icyr</key>
		<string>icyr.glif</string>
		<key>ieukran</key>
		<string>ieukran.glif</string>
		<key>ka</key>
		<string>ka.glif</string>
		<key>kabashkircyr</key>
		<string>kabashkircyr.glif</string>
		<key>kadescender</key>
		<string>kadescender.glif</string>
		<key>lessequal</key>
		<string>lessequal.glif</string>
		<key>lira</key>
		<string>lira.glif</string>
		<key>nje</key>
		<string>nje.glif</string>
		<key>pe</key>
		<string>pe.glif</string>
		<key>periodcentered</key>
		<string>periodcentered.glif</string>
		<key>periodcentered.loclCAT</key>
		<string>periodcentered.loclC_A_T_.glif</string>
		<key>periodcentered.loclCAT.case</key>
		<string>periodcentered.loclC_A_T_.case.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>quotedblbase</key>
		<string>quotedblbase.glif</string>
		<key>quotesinglbase</key>
		<string>quotesinglbase.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>soft</key>
		<string>soft.glif</string>
		<key>te</key>
		<string>te.glif</string>
		<key>ve.bgr</key>
		<string>ve.bgr.glif</string>
		<key>yu</key>
		<string>yu.glif</string>
	</dict>
</plist>
