<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Hadescender</key>
    <string>H_adescender.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>hadescender</key>
    <string>hadescender.glif</string>
    <key>hastroke-cy</key>
    <string>hastroke-cy.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>ustraightstroke</key>
    <string>ustraightstroke.glif</string>
  </dict>
</plist>
