<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.6.1
1645303513.0 H_adescender.glif
1645303681.0 H_astroke-cy.glif
1645303513.0 X_.glif
1648327368.0 Z_hedescender.glif
1645304340.0 el.bgr.glif
1645303681.0 hadescender.glif
1645303681.0 hastroke-cy.glif
1645303513.0 idotless.glif
1648327326.0 questiondown.glif
1645304340.0 ustraight.glif
1645304340.0 ustraightstroke.glif</string>
    </dict>
  </dict>
</plist>
