<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1536</integer>
    <key>capHeight</key>
    <integer>1456</integer>
    <key>descender</key>
    <integer>-416</integer>
    <key>familyName</key>
    <string>Roboto Flex</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>9</integer>
    <key>openTypeHheaAscender</key>
    <integer>1900</integer>
    <key>openTypeHheaDescender</key>
    <integer>-500</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>512</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>102</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>1434</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>287</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>1331</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>1434</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>977</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>1331</integer>
    <key>openTypeOS2TypoAscender</key>
    <integer>1900</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-500</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2461</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>600</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-30</integer>
      <integer>0</integer>
      <integer>1052</integer>
      <integer>1082</integer>
      <integer>1456</integer>
      <integer>1486</integer>
      <integer>1536</integer>
      <integer>1566</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-446</integer>
      <integer>-416</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>154</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>196</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-183</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>166</integer>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>styleName</key>
    <string>opsz8</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>1089.12</real>
  </dict>
</plist>
