<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1456</integer>
    <key>capHeight</key>
    <integer>1456</integer>
    <key>copyright</key>
    <string>Copyright 2011, 2017 Google Inc. All Rights Reserved.</string>
    <key>descender</key>
    <integer>-444</integer>
    <key>familyName</key>
    <string>Roboto Flex</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>identifier</key>
        <string>F5ZMnObEkb</string>
        <key>x</key>
        <real>595.0</real>
        <key>y</key>
        <real>-332.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>90.0</real>
        <key>identifier</key>
        <string>tVmRG9eCyA</string>
        <key>x</key>
        <real>-179.0</real>
        <key>y</key>
        <real>1023.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>identifier</key>
        <string>lmkKXKGiIx</string>
        <key>x</key>
        <real>720.0</real>
        <key>y</key>
        <real>-339.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>identifier</key>
        <string>f6P0QfSwCf</string>
        <key>x</key>
        <real>587.0</real>
        <key>y</key>
        <real>1478.0</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2008/09/12 16:29:34</string>
    <key>openTypeHeadFlags</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>3</integer>
      <integer>4</integer>
    </array>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>9</integer>
    <key>openTypeHheaAscender</key>
    <integer>1900</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-500</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Berlow after Robertson</string>
    <key>openTypeNameDesignerURL</key>
    <string>Google.com</string>
    <key>openTypeNameLicense</key>
    <string>Licensed under the Apache License, Version 2.0</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://www.apache.org/licenses/LICENSE-2.0</string>
    <key>openTypeNameManufacturer</key>
    <string>Google</string>
    <key>openTypeNameManufacturerURL</key>
    <string>Google.com</string>
    <key>openTypeNameUniqueID</key>
    <string>Google:Roboto Regular:2017</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>4</integer>
      <integer>7</integer>
      <integer>9</integer>
      <integer>32</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>512</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>102</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>1434</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>287</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>1331</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>1434</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>977</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>1331</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1900</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-500</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>4</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>10</integer>
      <integer>12</integer>
      <integer>32</integer>
      <integer>33</integer>
      <integer>34</integer>
      <integer>32</integer>
      <integer>33</integer>
      <integer>34</integer>
      <integer>35</integer>
      <integer>36</integer>
      <integer>37</integer>
      <integer>38</integer>
      <integer>41</integer>
      <integer>46</integer>
      <integer>63</integer>
      <integer>65</integer>
      <integer>64</integer>
      <integer>69</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2461</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>600</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-183</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>166</integer>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>opsz144</string>
    <key>trademark</key>
    <string>Roboto is a trademark of Google.</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>914</integer>
  </dict>
</plist>
