<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.6.1
1648414317.0 D_e.bgr.glif
1645566862.0 L_je.glif
1645563596.0 breve.cyr.case.glif
1645563596.0 breve.cyr.glif
1645569795.0 ghe.bgr.glif
1645569183.0 kabashkircyr.glif
1645569183.0 kadescender.glif
1645569183.0 kaverticalstrokecyr.glif
1645569396.0 lje.glif
1645568508.0 sha.glif
1645569243.0 ustraight.glif
1645569243.0 ustraightstroke.glif
1645565967.0 yi.glif
1645569724.0 zhe.bgr.glif
1645569183.0 zhe.glif
1645569183.0 zhedescender.glif</string>
    </dict>
  </dict>
</plist>
