/* Load the font */
@font-face {
	font-family: "Roboto Extremo";
	src: url('../../fonts/RobotoExtremo-VF.ttf') format('truetype supports variations'),
		 url('../../fonts/RobotoExtremo-VF.ttf') format('truetype-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

:root {
	/* wght: we set weight axis through `font-weight` */
	/* opsz: set automatically by browser */

	--wdth: 100; /* 100 to 1000 */
	--slnt: 0;   /* -10 to 0 */
	--GRAD: 0;   /* -1 to 1 */
}

/* Apply the font and any font-variation-settings */
.roboto-extremo {
	font-family: "Roboto Extremo", monospace;
	font-variation-settings: 'wdth' var(--wdth), 'slnt' var(--slnt), 'GRAD' var(--GRAD);
}

/* Animate weight */
.weight-animation {
	animation: weight-animation 5s linear infinite alternate;
}

@keyframes weight-animation {
	from { font-weight: 100;  }
	to   { font-weight: 1000; }
}

/* Animate width */
.width-animation {
	animation: width-animation 5s linear infinite alternate;
}

@keyframes width-animation {
	from { 	font-variation-settings: 'wdth'  25, 'slnt' var(--slnt), 'GRAD' var(--GRAD); }
	to   { 	font-variation-settings: 'wdth' 151, 'slnt' var(--slnt), 'GRAD' var(--GRAD); }
}

/* Animate slant */
.slant-animation {
	animation: slant-animation 5s linear infinite alternate;
}

@keyframes slant-animation {
	from { 	font-variation-settings: 'wdth' var(--wdth), 'slnt' -10, 'GRAD' var(--GRAD); }
	to   { 	font-variation-settings: 'wdth' var(--wdth), 'slnt'   0, 'GRAD' var(--GRAD); }
}

/* Animate grade */
.grade-animation {
	animation: grade-animation 5s linear infinite alternate;
}

@keyframes grade-animation {
	from { 	font-variation-settings: 'wdth' var(--wdth), 'slnt' var(--slnt), 'GRAD' -1; }
	to   { 	font-variation-settings: 'wdth' var(--wdth), 'slnt' var(--slnt), 'GRAD'  1; }
}

/* Optical size demo */
.opsz-demo-labels,
.opsz-demo-row {
	display: flex;
	align-items: stretch;
	overflow: hidden;
}

.opsz-demo-labels span {
	flex: none;
	width: 80px;
	font-size: 12px;
	text-align: center;
}

.opsz-demo-row span {
	--size: 8px;
	--steps: 18; /* 144 / 8 */

	flex: none;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(var(--step) * var(--size));
}

#opsz-toggle:checked ~ .opsz-demo-row span {
	transform: scale(calc(var(--steps) / var(--step)));
}

.opsz-letter {
	font-size: 16px;
	text-align: center;
	margin-right: 3em;
}

/* Margin-top on the first element is to better align it */
.opsz-demo-row span:nth-child(1)  { --step:  1; margin-top: 0.5px; }
.opsz-demo-row span:nth-child(2)  { --step:  2; }
.opsz-demo-row span:nth-child(3)  { --step:  3; }
.opsz-demo-row span:nth-child(4)  { --step:  4; }
.opsz-demo-row span:nth-child(5)  { --step:  5; }
.opsz-demo-row span:nth-child(6)  { --step:  6; }
.opsz-demo-row span:nth-child(7)  { --step:  7; }
.opsz-demo-row span:nth-child(8)  { --step:  8; }
.opsz-demo-row span:nth-child(9)  { --step:  9; }
.opsz-demo-row span:nth-child(10) { --step: 10; }
.opsz-demo-row span:nth-child(11) { --step: 11; }
.opsz-demo-row span:nth-child(12) { --step: 12; }
.opsz-demo-row span:nth-child(13) { --step: 13; }
.opsz-demo-row span:nth-child(14) { --step: 14; }
.opsz-demo-row span:nth-child(15) { --step: 15; }
.opsz-demo-row span:nth-child(16) { --step: 16; }
.opsz-demo-row span:nth-child(17) { --step: 17; }
.opsz-demo-row span:nth-child(18) { --step: 18; }
