<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>periodcentered.loclCAT.case</key>
    <string>periodcentered.loclC_A_T_.case.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>w</key>
    <string>w.glif</string>
  </dict>
</plist>
