<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <string>CH &lt;OGL Text Faces</string>
        <key>type</key>
        <string>characterSet</string>
      </dict>
    </array>
    <key>com.typemytype.robofont.Roboto-Regular.layerShow</key>
    <false/>
    <key>com.typemytype.robofont.Roboto-Regular.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>1.0</real>
      <real>1.0</real>
    </array>
    <key>com.typemytype.robofont.background.layerShowCoordinates</key>
    <false/>
    <key>com.typemytype.robofont.background.layerShowFill</key>
    <false/>
    <key>com.typemytype.robofont.background.layerShowPoints</key>
    <false/>
    <key>com.typemytype.robofont.background.layerShowStroke</key>
    <true/>
    <key>com.typemytype.robofont.background.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.75</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.binarySource</key>
    <string>/Users/alexandresaumierdemers/Downloads/RobotoDeltaNew-Regular.ttf</string>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.foreground.layerStrokeColor</key>
    <array>
      <real>0.8759533110119048</real>
      <real>0.8520636920919201</real>
      <real>0.6924212208413115</real>
      <real>0.3</real>
    </array>
    <key>com.typemytype.robofont.guideline.magnetic.jkkycGhOUk</key>
    <integer>5</integer>
    <key>com.typemytype.robofont.guideline.magnetic.w7IreBwLcz</key>
    <integer>5</integer>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>qcurve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.temp.layerShowCoordinates</key>
    <false/>
    <key>com.typemytype.robofont.temp.layerShowFill</key>
    <false/>
    <key>com.typemytype.robofont.temp.layerShowPoints</key>
    <true/>
    <key>com.typemytype.robofont.temp.layerShowStroke</key>
    <true/>
    <key>com.typemytype.robofont.temp.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.25</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.templateCharacterSet</key>
    <string>RobotoDelta</string>
    <key>com.typesupply.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>space</string>
          <string>nbspace</string>
          <string>comma</string>
          <string>period</string>
          <string>periodcentered</string>
          <string>bullet</string>
          <string>ellipsis</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>minus</string>
          <string>equal</string>
          <string>plus</string>
          <string>plusminus</string>
          <string>multiply</string>
          <string>divide</string>
          <string>logicalnot</string>
          <string>hyphen</string>
          <string>hyphensoft</string>
          <string>endash</string>
          <string>emdash</string>
          <string>underscore</string>
          <string>bar</string>
          <string>brokenbar</string>
          <string>divisionslash</string>
          <string>slash</string>
          <string>fraction</string>
          <string>backslash</string>
          <string>numbersign</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>bracketleft</string>
          <string>bracketright</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>less</string>
          <string>greater</string>
          <string>guilsinglleft</string>
          <string>guilsinglright</string>
          <string>guillemetleft</string>
          <string>guillemetright</string>
          <string>a</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>zero.pnum</string>
          <string>one.pnum</string>
          <string>two.pnum</string>
          <string>three.pnum</string>
          <string>four.pnum</string>
          <string>five.pnum</string>
          <string>six.pnum</string>
          <string>seven.pnum</string>
          <string>eight.pnum</string>
          <string>nine.pnum</string>
          <string>quotedbl</string>
          <string>quotesingle</string>
          <string>quoteleft</string>
          <string>quoteright</string>
          <string>quotesinglbase</string>
          <string>quotedblleft</string>
          <string>quotedblright</string>
          <string>quotedblbase</string>
          <string>asciicircum</string>
          <string>grave</string>
          <string>circumflex</string>
          <string>ring</string>
          <string>tilde</string>
          <string>dieresis</string>
          <string>macron</string>
          <string>acute</string>
          <string>cedilla</string>
          <string>trademark</string>
          <string>numero</string>
          <string>registered</string>
          <string>copyright</string>
          <string>ordfeminine</string>
          <string>ordmasculine</string>
          <string>degree</string>
          <string>onesuperior</string>
          <string>twosuperior</string>
          <string>threesuperior</string>
          <string>four.superior</string>
          <string>one.inferior</string>
          <string>two.inferior</string>
          <string>three.inferior</string>
          <string>four.inferior</string>
          <string>percent</string>
          <string>perthousand</string>
          <string>onequarter</string>
          <string>onehalf</string>
          <string>threequarters</string>
          <string>exclam</string>
          <string>exclamdown</string>
          <string>question</string>
          <string>questiondown</string>
          <string>asciitilde</string>
          <string>currency</string>
          <string>asterisk</string>
          <string>ampersand</string>
          <string>at</string>
          <string>dollar</string>
          <string>cent</string>
          <string>yen</string>
          <string>bitcoin</string>
          <string>won</string>
          <string>Euro</string>
          <string>indianrupee</string>
          <string>sterling</string>
          <string>section</string>
          <string>paragraph</string>
          <string>mu.math</string>
          <string>dagger</string>
          <string>AE</string>
          <string>ae</string>
          <string>OE</string>
          <string>oe</string>
          <string>Oslash</string>
          <string>oslash</string>
          <string>Eth</string>
          <string>eth</string>
          <string>Thorn</string>
          <string>thorn</string>
          <string>germandbls</string>
          <string>Germandbls</string>
          <string>fi</string>
          <string>fl</string>
          <string>f_f_i</string>
          <string>f_f_l</string>
          <string>dotlessi</string>
          <string>Agrave</string>
          <string>Aacute</string>
          <string>Acircumflex</string>
          <string>Atilde</string>
          <string>Adieresis</string>
          <string>Aring</string>
          <string>Ccedilla</string>
          <string>Egrave</string>
          <string>Eacute</string>
          <string>Ecircumflex</string>
          <string>Edieresis</string>
          <string>Igrave</string>
          <string>Iacute</string>
          <string>Icircumflex</string>
          <string>Idieresis</string>
          <string>Ntilde</string>
          <string>Ograve</string>
          <string>Oacute</string>
          <string>Ocircumflex</string>
          <string>Otilde</string>
          <string>Odieresis</string>
          <string>Ugrave</string>
          <string>Uacute</string>
          <string>Ucircumflex</string>
          <string>Udieresis</string>
          <string>Yacute</string>
          <string>agrave</string>
          <string>aacute</string>
          <string>acircumflex</string>
          <string>atilde</string>
          <string>adieresis</string>
          <string>aring</string>
          <string>ccedilla</string>
          <string>egrave</string>
          <string>eacute</string>
          <string>ecircumflex</string>
          <string>edieresis</string>
          <string>igrave</string>
          <string>iacute</string>
          <string>icircumflex</string>
          <string>idieresis</string>
          <string>ntilde</string>
          <string>ograve</string>
          <string>oacute</string>
          <string>ocircumflex</string>
          <string>otilde</string>
          <string>odieresis</string>
          <string>ugrave</string>
          <string>uacute</string>
          <string>ucircumflex</string>
          <string>udieresis</string>
          <string>yacute</string>
          <string>ydieresis</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>com.typesupply.metricsMachine4.groupColors</key>
    <dict>
      <key>public.kern1.G_UC</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.Ohorn_LC</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.R_UC</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.S_UC</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.Uhorn_UC</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.carons</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.colon</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.copyright</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.emdash</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.f_LC</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.guillemotleft</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.guillemotright</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.i_LC</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.j_LC</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.k_LC</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.l_LC</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.ohorn_LC</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.parens</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.percent</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.s_LC</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.t_LC</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.u_LC</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.uhorn_LC</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.w_LC</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.AE_UC</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.StraightRight_UC</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.bhk_LC</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.colon</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.copyright</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.f_LC</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.guillemotleft</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.guillemotright</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.i_LC</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.parens</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.percent</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.t_LC</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.w_LC</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
    </dict>
    <key>designspace.location</key>
    <array>
      <array>
        <string>wght</string>
        <real>100.0</real>
      </array>
      <array>
        <string>wdth</string>
        <real>151.0</real>
      </array>
      <array>
        <string>opsz</string>
        <real>144.0</real>
      </array>
      <array>
        <string>GRAD</string>
        <real>0.16</real>
      </array>
      <array>
        <string>XTRA</string>
        <real>468.0</real>
      </array>
      <array>
        <string>XOPQ</string>
        <real>96.0</real>
      </array>
      <array>
        <string>YOPQ</string>
        <real>79.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>ampersand</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclamdown</string>
      <string>exclam</string>
      <string>questiondown</string>
      <string>question</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>hyphen</string>
      <string>underscore</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>brokenbar</string>
      <string>slash</string>
      <string>backslash</string>
      <string>bar</string>
      <string>asterisk</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
      <string>AE</string>
      <string>AEacute</string>
      <string>Ccedilla</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Ccaron</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Emacron</string>
      <string>Ebreve</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
      <string>Gcircumflex</string>
      <string>Gbreve</string>
      <string>Gdotaccent</string>
      <string>Gcommaaccent</string>
      <string>Hcircumflex</string>
      <string>Hbar</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Itilde</string>
      <string>Idieresis</string>
      <string>Imacron</string>
      <string>Ibreve</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>IJ</string>
      <string>Jcircumflex</string>
      <string>Kcommaaccent</string>
      <string>Lacute</string>
      <string>Lcommaaccent</string>
      <string>Lcaron</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>Ntilde</string>
      <string>Nacute</string>
      <string>Ncommaaccent</string>
      <string>Ncaron</string>
      <string>Eng</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>Ohungarumlaut</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Ohorn</string>
      <string>OE</string>
      <string>Racute</string>
      <string>Rcommaaccent</string>
      <string>Rcaron</string>
      <string>Sacute</string>
      <string>Scircumflex</string>
      <string>Scedilla</string>
      <string>Scaron</string>
      <string>Scommaaccent</string>
      <string>Tcommaaccent</string>
      <string>Tcaron</string>
      <string>Tbar</string>
      <string>Thorn</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Utilde</string>
      <string>Udieresis</string>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>Uhorn</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Ygrave</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Zacute</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>amacron</string>
      <string>abreve</string>
      <string>aogonek</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>ccedilla</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>ccaron</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eth</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>emacron</string>
      <string>ebreve</string>
      <string>edotaccent</string>
      <string>eogonek</string>
      <string>ecaron</string>
      <string>gcircumflex</string>
      <string>gbreve</string>
      <string>gdotaccent</string>
      <string>gcommaaccent</string>
      <string>hcircumflex</string>
      <string>hbar</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>itilde</string>
      <string>idieresis</string>
      <string>imacron</string>
      <string>ibreve</string>
      <string>iogonek</string>
      <string>ij</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>lcaron</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>napostrophe</string>
      <string>ntilde</string>
      <string>nacute</string>
      <string>ncommaaccent</string>
      <string>ncaron</string>
      <string>eng</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>omacron</string>
      <string>obreve</string>
      <string>ohungarumlaut</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>ohorn</string>
      <string>oe</string>
      <string>racute</string>
      <string>rcommaaccent</string>
      <string>rcaron</string>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scedilla</string>
      <string>scaron</string>
      <string>scommaaccent</string>
      <string>germandbls</string>
      <string>tcommaaccent</string>
      <string>tcaron</string>
      <string>tbar</string>
      <string>thorn</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>utilde</string>
      <string>udieresis</string>
      <string>umacron</string>
      <string>ubreve</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>uhorn</string>
      <string>wgrave</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>ygrave</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>zacute</string>
      <string>zdotaccent</string>
      <string>zcaron</string>
      <string>schwa</string>
      <string>at</string>
      <string>registered</string>
      <string>copyright</string>
      <string>trademark</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>less</string>
      <string>greater</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>plusminus</string>
      <string>notequal</string>
      <string>approxequal</string>
      <string>logicalnot</string>
      <string>dollar</string>
      <string>cent</string>
      <string>Euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>florin</string>
      <string>numbersign</string>
      <string>section</string>
      <string>currency</string>
      <string>paragraph</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>degree</string>
      <string>minute</string>
      <string>second</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>asciicircum</string>
      <string>asciitilde</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>acute</string>
      <string>breve</string>
      <string>caron</string>
      <string>cedilla</string>
      <string>circumflex</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>hungarumlaut</string>
      <string>macron</string>
      <string>ogonek</string>
      <string>ring</string>
      <string>tilde</string>
      <string>CR</string>
      <string>fi</string>
      <string>fl</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>nbspace</string>
      <string>Adblgrave</string>
      <string>Ainvertedbreve</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Acircumflexdotbelow</string>
      <string>Abreveacute</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Abrevedotbelow</string>
      <string>Edblgrave</string>
      <string>Einvertedbreve</string>
      <string>Edotbelow</string>
      <string>Ehookabove</string>
      <string>Etilde</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Ecircumflexdotbelow</string>
      <string>Gcaron</string>
      <string>Idblgrave</string>
      <string>Iinvertedbreve</string>
      <string>Ihookabove</string>
      <string>Idotbelow</string>
      <string>Oogonek</string>
      <string>Odblgrave</string>
      <string>Oinvertedbreve</string>
      <string>Odieresismacron</string>
      <string>Otildemacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ohookabove</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ohornacute</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohorndotbelow</string>
      <string>Rdblgrave</string>
      <string>Rinvertedbreve</string>
      <string>Tcedilla</string>
      <string>Udblgrave</string>
      <string>Uinvertedbreve</string>
      <string>Udotbelow</string>
      <string>Uhookabove</string>
      <string>Uhornacute</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uhorndotbelow</string>
      <string>Ymacron</string>
      <string>Ydotbelow</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
      <string>Schwa</string>
      <string>DZcaron</string>
      <string>LJ</string>
      <string>NJ</string>
      <string>Germandbls</string>
      <string>micro</string>
      <string>adblgrave</string>
      <string>ainvertedbreve</string>
      <string>adotbelow</string>
      <string>ahookabove</string>
      <string>acircumflexacute</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>acircumflexdotbelow</string>
      <string>abreveacute</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>abrevedotbelow</string>
      <string>edblgrave</string>
      <string>einvertedbreve</string>
      <string>edotbelow</string>
      <string>ehookabove</string>
      <string>etilde</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>ecircumflexdotbelow</string>
      <string>gcaron</string>
      <string>idblgrave</string>
      <string>iinvertedbreve</string>
      <string>ihookabove</string>
      <string>idotbelow</string>
      <string>oogonek</string>
      <string>odblgrave</string>
      <string>oinvertedbreve</string>
      <string>odieresismacron</string>
      <string>otildemacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ohookabove</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>ocircumflexdotbelow</string>
      <string>ohornacute</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohorndotbelow</string>
      <string>rdblgrave</string>
      <string>rinvertedbreve</string>
      <string>tcedilla</string>
      <string>udblgrave</string>
      <string>uinvertedbreve</string>
      <string>udotbelow</string>
      <string>uhookabove</string>
      <string>uhornacute</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhorndotbelow</string>
      <string>ymacron</string>
      <string>ydotbelow</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>dzcaron</string>
      <string>lj</string>
      <string>nj</string>
      <string>Dzcaron</string>
      <string>Lj</string>
      <string>Nj</string>
      <string>primemod</string>
      <string>doubleprimemod</string>
      <string>apostrophemod</string>
      <string>firsttonechinese</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>brevecomb</string>
      <string>dotaccentcomb</string>
      <string>dieresiscomb</string>
      <string>hookabovecomb</string>
      <string>ringcomb</string>
      <string>hungarumlautcomb</string>
      <string>caroncomb</string>
      <string>breveinvertedcomb</string>
      <string>dblgravecomb</string>
      <string>horncomb</string>
      <string>dotbelowcomb</string>
      <string>dieresisbelowcomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>brevebelowcomb</string>
      <string>macronbelowcomb</string>
      <string>foursuperior</string>
      <string>hyphentwo</string>
      <string>horizontalbar</string>
      <string>leftanglebracket</string>
      <string>rightanglebracket</string>
      <string>numero</string>
      <string>commercialMinusSign</string>
      <string>divisionslash</string>
      <string>bulletoperator</string>
      <string>coloncurrency</string>
      <string>franc</string>
      <string>lira</string>
      <string>naira</string>
      <string>peseta</string>
      <string>won</string>
      <string>dong</string>
      <string>uni20AD</string>
      <string>uni20B1</string>
      <string>uni20B2</string>
      <string>uni20B5</string>
      <string>rupeeIndian</string>
      <string>liraTurkish</string>
      <string>manat</string>
      <string>ruble</string>
      <string>softhyphen</string>
      <string>.null</string>
      <string>IJacute</string>
      <string>diagonalbarL</string>
      <string>diagonalbarO</string>
      <string>diagonalbarl</string>
      <string>diagonalbaro</string>
      <string>engtail</string>
      <string>horizontalbarH</string>
      <string>horizontalbarlc</string>
      <string>idotaccent</string>
      <string>idotless</string>
      <string>ijacute</string>
      <string>jdotless</string>
      <string>zerosuperior</string>
      <string>f_f_ij</string>
      <string>f_ij</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>circumflexcomb.case</string>
      <string>tildecomb.case</string>
      <string>macroncomb.case</string>
      <string>brevecomb.case</string>
      <string>dotaccentcomb.case</string>
      <string>dieresiscomb.case</string>
      <string>hookabovecomb.case</string>
      <string>ringcomb.case</string>
      <string>hungarumlautcomb.case</string>
      <string>caroncomb.case</string>
      <string>breveinvertedcomb.case</string>
      <string>dblgravecomb.case</string>
      <string>horncomb.case</string>
      <string>dotbelowcomb.case</string>
      <string>dieresisbelowcomb.case</string>
      <string>commaaccentcomb.case</string>
      <string>cedillacomb.case</string>
      <string>ogonekcomb.case</string>
      <string>brevebelowcomb.case</string>
      <string>macronbelowcomb.case</string>
      <string>acutecombstack.case</string>
      <string>brevecombstack.case</string>
      <string>circumflexcombstack.case</string>
      <string>dieresiscombstack.case</string>
      <string>dotaccentcombstack.case</string>
      <string>gravecombstack.case</string>
      <string>hookabovecombstack.case</string>
      <string>macroncombstack.case</string>
      <string>tildecombstack.case</string>
      <string>caroncomb.alt</string>
      <string>periodcentered.loclCAT</string>
      <string>periodcentered.loclCAT.case</string>
      <string>dollar.rvrn</string>
      <string>zero.prop</string>
      <string>one.prop</string>
      <string>two.prop</string>
      <string>three.prop</string>
      <string>four.prop</string>
      <string>five.prop</string>
      <string>six.prop</string>
      <string>seven.prop</string>
      <string>eight.prop</string>
      <string>nine.prop</string>
    </array>
    <key>tnCurvePalet</key>
    <dict>
      <key>sliderBottomMax</key>
      <integer>80</integer>
      <key>sliderBottomMin</key>
      <integer>30</integer>
      <key>sliderTopMax</key>
      <integer>80</integer>
      <key>sliderTopMin</key>
      <integer>30</integer>
    </dict>
  </dict>
</plist>
