<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chedescender-cy</key>
	<string>C_hedescender-cy.glif</string>
	<key>De</key>
	<string>D_e.glif</string>
	<key>Dje</key>
	<string>D_je.glif</string>
	<key>Lje</key>
	<string>L_je.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Zhe</key>
	<string>Z_he.glif</string>
	<key>be.locl</key>
	<string>be.locl.glif</string>
	<key>breve.cyr.case</key>
	<string>breve.cyr.case.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>ka</key>
	<string>ka.glif</string>
	<key>sha</key>
	<string>sha.glif</string>
	<key>ustraight</key>
	<string>ustraight.glif</string>
	<key>ustraightstroke</key>
	<string>ustraightstroke.glif</string>
	<key>ze</key>
	<string>ze.glif</string>
	<key>zhe</key>
	<string>zhe.glif</string>
</dict>
</plist>