<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<string>0.205,0.39,0.051,0.7</string>
	<key>lib</key>
	<dict>
		<key>org.unifiedfontobject.normalizer.imageReferences</key>
		<dict/>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.6.1
1645632023.7 C_hedescender-cy.glif
1645632023.7 D_e.glif
1645632023.7 D_je.glif
1645632023.7 L_je.glif
1645632023.7 Y_.glif
1645632023.7 Z_he.glif
1645632023.7 be.locl.glif
1645632023.7 breve.cyr.case.glif
1645380086.9 jdotless.glif
1645632023.7 ka.glif
1645632023.7 sha.glif
1645632023.7 ustraight.glif
1645632023.7 ustraightstroke.glif
1645632023.7 ze.glif
1645632023.7 zhe.glif</string>
	</dict>
</dict>
</plist>