<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>Eth</string>
		<string>Euro</string>
		<string>F</string>
		<string>G</string>
		<string>Germandbls</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>OE</string>
		<string>Oslash</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>Thorn</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>acute</string>
		<string>ae</string>
		<string>ampersand</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>asterisk</string>
		<string>at</string>
		<string>b</string>
		<string>backslash</string>
		<string>bar</string>
		<string>bitcoin</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>brokenbar</string>
		<string>bullet</string>
		<string>c</string>
		<string>cedilla</string>
		<string>cent</string>
		<string>circumflex</string>
		<string>colon</string>
		<string>comma</string>
		<string>copyright</string>
		<string>currency</string>
		<string>d</string>
		<string>dagger</string>
		<string>degree</string>
		<string>dieresis</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>dollar</string>
		<string>dotlessi</string>
		<string>e</string>
		<string>eight</string>
		<string>eight.pnum</string>
		<string>ellipsis</string>
		<string>emdash</string>
		<string>endash</string>
		<string>equal</string>
		<string>eth</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>five</string>
		<string>five.pnum</string>
		<string>fl</string>
		<string>four</string>
		<string>four.inferior</string>
		<string>four.pnum</string>
		<string>four.superior</string>
		<string>fraction</string>
		<string>g</string>
		<string>germandbls</string>
		<string>grave</string>
		<string>greater</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>h</string>
		<string>hyphen</string>
		<string>hyphensoft</string>
		<string>i</string>
		<string>indianrupee</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>m</string>
		<string>macron</string>
		<string>minus</string>
		<string>mu.math</string>
		<string>multiply</string>
		<string>n</string>
		<string>nbspace</string>
		<string>nine</string>
		<string>nine.pnum</string>
		<string>numbersign</string>
		<string>numero</string>
		<string>o</string>
		<string>oe</string>
		<string>one</string>
		<string>one.inferior</string>
		<string>one.pnum</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>onesuperior</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>oslash</string>
		<string>p</string>
		<string>paragraph</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>percent</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>q</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotesingle</string>
		<string>r</string>
		<string>registered</string>
		<string>ring</string>
		<string>s</string>
		<string>section</string>
		<string>semicolon</string>
		<string>seven</string>
		<string>seven.pnum</string>
		<string>six</string>
		<string>six.pnum</string>
		<string>slash</string>
		<string>space</string>
		<string>sterling</string>
		<string>t</string>
		<string>thorn</string>
		<string>three</string>
		<string>three.inferior</string>
		<string>three.pnum</string>
		<string>threequarters</string>
		<string>threesuperior</string>
		<string>tilde</string>
		<string>trademark</string>
		<string>two</string>
		<string>two.inferior</string>
		<string>two.pnum</string>
		<string>twosuperior</string>
		<string>u</string>
		<string>underscore</string>
		<string>v</string>
		<string>w</string>
		<string>won</string>
		<string>x</string>
		<string>y</string>
		<string>yen</string>
		<string>z</string>
		<string>zero</string>
		<string>zero.pnum</string>
	</array>
</dict>
</plist>
