<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>G</key>
    <string>G_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
  </dict>
</plist>
