<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Be</key>
		<string>B_e.glif</string>
		<key>Che</key>
		<string>C_he.glif</string>
		<key>Chedescender-cy</key>
		<string>C_hedescender-cy.glif</string>
		<key>Cheverticalstroke-cy</key>
		<string>C_heverticalstroke-cy.glif</string>
		<key>De</key>
		<string>D_e.glif</string>
		<key>Dje</key>
		<string>D_je.glif</string>
		<key>El</key>
		<string>E_l.glif</string>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>Lje</key>
		<string>L_je.glif</string>
		<key>Tshe</key>
		<string>T_she.glif</string>
		<key>Ucyr</key>
		<string>U_cyr.glif</string>
		<key>Ya</key>
		<string>Y_a.glif</string>
		<key>Ze</key>
		<string>Z_e.glif</string>
		<key>Zhe.bgr</key>
		<string>Z_he.bgr.glif</string>
		<key>be</key>
		<string>be.glif</string>
		<key>be.locl</key>
		<string>be.locl.glif</string>
		<key>breve.cyr</key>
		<string>breve.cyr.glif</string>
		<key>breve.cyr.case</key>
		<string>breve.cyr.case.glif</string>
		<key>che</key>
		<string>che.glif</string>
		<key>cheverticalstroke-cy</key>
		<string>cheverticalstroke-cy.glif</string>
		<key>de</key>
		<string>de.glif</string>
		<key>ef</key>
		<string>ef.glif</string>
		<key>el</key>
		<string>el.glif</string>
		<key>em</key>
		<string>em.glif</string>
		<key>hryvnia</key>
		<string>hryvnia.glif</string>
		<key>icyr</key>
		<string>icyr.glif</string>
		<key>lje</key>
		<string>lje.glif</string>
		<key>ve</key>
		<string>ve.glif</string>
		<key>ve.bgr</key>
		<string>ve.bgr.glif</string>
		<key>ya</key>
		<string>ya.glif</string>
		<key>ze</key>
		<string>ze.glif</string>
		<key>ze.bgr</key>
		<string>ze.bgr.glif</string>
	</dict>
</plist>
